<!---- BEACHHANDBALL ----->

<div class="container containerbeachhandballscore">
<div class="box toplabel" id="header"></div>
<div class="box boxtimer" id="stopwatch">00:00</div>

<div class="box boxteams boxhometeam" id="team_1">{{ game.team_a.name }}</div>
<div class="box boxteams boxawayteam" id="team_2">{{ game.team_b.name }}</div>


<div class="box boxpoints boxhomepoints" id="team_a_score_ht1">{{ game.score_team_a_halftime_1 }}</div>
<div class="box space">-</div>
<div class="box boxpoints boxawaypoints" id="team_b_score_ht1">{{ game.score_team_b_halftime_2 }}</div>

<div class="box space">-</div>
<div class="box boxpoints boxhomepointsht2" id="team_a_score_ht2">{{ game.score_team_a_halftime_2 }}</div>
<div class="box boxpoints boxawaypointsht2" id="team_b_score_ht2">{{ game.score_team_a_halftime_2 }}</div>

<div class="box space">-</div>
<div class="box boxpointsp boxhomepointsp" id="team_a_score_p">{{ game.score_team_a_penalty }}</div>
<div class="box boxpointsp boxawaypointsp" id="team_b_score_p">{{ game.score_team_b_penalty }}</div>

<div class="box space">-</div>
<div class="box boxpointsp boxhomeset" id="team_a_set">set 1</div>
<div class="box boxpointsp boxawayset" id="team_b_set">set 2</div>
<div class="box boxpointsp boxshoot" id="team_b_set">shoot-out</div>

<div class="box boximage image-container">
  <img src="/static/assets/img/gbo_logo.png" alt="Image">
</div>
<div class="box boximage1 image-container">
  <img src="/static/assets/img/karacho_logo.png" alt="Image">
</div>
<div class="box boximage2 image-container">
  <img src="/static/assets/img/ebt_logo.png" alt="Image">
</div>


<div>
  <h3 id="team_a_score_total" style="display: none">0</h3>
  <h3 id="team_b_score_total" style="display: none">0</h3>
  <h3 id="moment" style="display: none">0</h3>
</div>