{% extends "base_ledwall.html" %}

{% block content %}


    <div class="imagecontainer contains-img" data-id="logo">
        <img src="/static/assets/img/karacho_logo.png" alt="Image">
    </div>

    <div class="imagecontainer" data-id="info">
        <div class="row">
            <div class="col" style="text-align: center; padding: 1%">
                <h2 id="gameTournamentState">{{ game.tournament_state }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col tableheaderA">
                <h3 id="gameTeamA_Name">{{ game.team_a.name }}</h3>
            </div>
            <div class="col tableheaderB">
                <h3 id="gameTeamB_Name">{{ game.team_b.name }}</h3>
            </div>
        </div>
        <div class="row">


            <div class="col">
                <table id="gamePlayersA" class="table table-borderless">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Player</th>
                            <th>Pts.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in game.team_a.player_set.all()[:10] %}
                            <tr>
                                <td class="centered numbercol">{{ player.number }}</td>
                                <td class="namecol">{{ player.name }}, {{ player.first_name[0] }}.</td>
                                <td class="centered numbercol">0</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="col">
                <table id="gamePlayersB" class="table  table-borderless">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Player</th>
                            <th>Pts.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in game.team_b.player_set.all()[:10] %}
                            <tr>
                                <td class="centered numbercol">{{ player.number }}</td>
                                <td class="namecol">{{ player.name }}, {{ player.first_name[0] }}.</td>
                                <td class="centered numbercol">0</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>

    <div id="image-container" class="imagecontainer contains-img advertise"  data-id="advertise">
    </div>

    <div id="clock" class="bottom-right"></div>


<div>
    <h1 id="tournament_id" style="display: none">{{ tournament_id }}</h1>
    <h1 id="court_id" style="display: none">{{ court_id }}</h1>
    <h1 id="mqtt_broker" style="display: none">{{ mqtt_broker }}</h1>
    <h1 id="mqtt_port" style="display: none">{{ mqtt_port }}</h1>
</div>

<script>
    

    
</script>
{% endblock %}

