# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv

# other
.DS_Store

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json
core/report/*.xlsx
!core/report/game_report_template.xlsx
!core/report/DHB.xlsx
!core/report/GBO.xlsx
!core/report/GBO_V2.xlsx
