<table id="{{ tstate.name|slugify }}-{{tstate.id}}-games-table" class="table table-striped">
    <thead>
    <tr>
        <th>Startzeit</th>
        <th>ID</th>
        <th>Team A</th>
        <th>Team B</th>
        <th class="text-center">Court</th>
        <th class="text-center">HT1</th>
        <th class="text-center">HT2</th>
        <th class="text-center">P</th>
        <th>Actions</th>
    </tr>
    </thead>
    {% for game in tstate.game_set.all %}
    <tr>
        <td>{{ game.starttime|date:"H:i (d.m.Y)" }}</td>
        <td>{{ game.id }}</td>
        <td>{{ game.team_st_a.team.abbreviation }}</td>
        <td>{{ game.team_st_b.team.abbreviation }}</td>
        <td class="text-center">{{ game.court.name }}</td>
        <td class="text-center">{{ game.score_team_a_halftime_1 }}:{{ game.score_team_b_halftime_1 }}</td>
        <td class="text-center">{{ game.score_team_a_halftime_2 }}:{{ game.score_team_b_halftime_2 }}</td>
        <td class="text-center">{{ game.score_team_a_penalty }}:{{ game.score_team_b_penalty }}</td>
        <td class="td-actions text-right">
            <button type="button" class="update_game btn btn-success btn-link" rel="tooltip" title="Edit Game" data-form-url="{% url 'update_game' pk_tevent=tevent.id pk_tstage=stage.id pk=game.id %}" data-list-url="{% url 'games_list' pk_tstate=tstate.id %}" {% if tstate.is_finished is True and tstate.transitions_done is True %}disabled{% endif %}>
                <i class="material-icons">edit</i>
            </button>
            <button type="button" rel="tooltip" class="update-game-result btn btn-info btn-link" rel="tooltip" title="Enter Result" data-form-url="{% url 'update_game_result' pk_tevent=tevent.id pk_tstage=stage.id pk=game.id %}" data-list-url="{% url 'games_list' pk_tstate=tstate.id %}"{% if tstate.is_finished is True and tstate.transitions_done is True %}disabled{% endif %}>
                <i class="material-icons">assignment</i>
            </button>
            <button type="button" rel="tooltip" class="delete-game btn btn-danger btn-link" rel="tooltip" title="Delete Game"  data-form-url="{% url 'structure_setup.delete_game' pk_tevent=tevent.id pk_tstage=stage.id pk=game.id %}"{% if tstate.is_finished is True and tstate.transitions_done is True %}disabled{% endif %}>
                <i class="material-icons">close</i>
            </button>
        </td>
    </tr>
    {% endfor %}
</table>