
<div class="table-responsive" style="overflow-x: auto; max-width: 100%;">
    <table id="{{tstate.id}}-ranking-table" class="table table-striped table-sm" style="width: 100%; min-width: auto;">
        <thead>
            <tr>
                <th class="text-center" style="width: 8%; min-width: 50px;">Rank</th>
                <th style="width: 30%; min-width: 120px;">Team</th>
                <th class="text-center" style="width: 8%; min-width: 50px;">Games</th>
                <th class="text-center" style="width: 10%; min-width: 60px;">Sets</th>
                <th class="text-center" style="width: 8%; min-width: 40px;">Diff</th>
                <th class="text-center" style="width: 10%; min-width: 60px;">Goals</th>
                <th class="text-center" style="width: 8%; min-width: 40px;">Diff</th>
                <th class="text-center" style="width: 18%; min-width: 70px;">Pts.</th>
            </tr>
        </thead>
        <tbody>
            {% for tstat in tstate.stats %}
            <tr>
                <td class="text-center">{{loop.index}}</td>
                <td class="text-truncate" style="max-width: 200px;">
                    <span class="team-name" data-team-id="{{ tstat.team.id }}" data-team-name="{{ tstat.team.name }}" data-team-abbr="{{ tstat.team.abbreviation }}">
                        {{ tstat.team.name }} ({{ tstat.team.abbreviation}})
                    </span>
                    {% if tstat.team.is_dummy %}
                    <button type="button" class="btn btn-sm btn-link edit-team-btn" data-team-id="{{ tstat.team.id }}" title="Edit Team">
                        <i class="material-icons">edit</i>
                    </button>
                    {% endif %}
                </td>
                <td class="text-center">{{ tstat.number_of_played_games }}</td>
                <td class="text-center">{{ tstat.sets_win }}:{{ tstat.sets_loose }}</td>
                <td class="text-center">{{ tstat.sets_win - tstat.sets_loose }}</td>
                <td class="text-center">{{ tstat.points_made }}:{{ tstat.points_received }}</td>
                <td class="text-center">{{ tstat.points_made - tstat.points_received }}</td>
                <td class="text-center"><b>{{ tstat.game_points }} ({{tstat.ranking_points}})</b></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<h4>Games</h4>
<div class="table-responsive" style="overflow-x: auto; max-width: 100%; overflow-y: hidden;">
    {% include "beachhandball/tournamentevent/_games_table.html" %}
</div>