<div class="col-md-3">
</div>
<div class="col-md-6">
    <div class="card">
        <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                <th class="text-center">Rank</th>
                <th>Team</th>
                </tr>
            </thead>
            <tbody>
                {% for tstat in tstate.teamstats_set.all().order_by('rank') %}
                    <tr>
                    <td class="text-center">{{loop.index}}</td>
                    <td class="d-flex justify-content-between align-items-center">
                        <span>{{ tstat.name_table }}</span>
                        <button type="button"
                                class="btn btn-sm btn-outline-primary edit-team-btn"
                                data-tstat-id="{{ tstat.id }}"
                                data-tournament-event-id="{{ tstat.tournament_event.id }}">
                            <i class="material-icons">edit</i>
                        </button>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-3">
</div>