<div class="col-md-3">
</div>
<div class="col-md-6">
    <div class="card">
        <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                <th class="text-center">Rank</th>
                <th>Team</th>
                </tr>
            </thead>
            <tbody>
                {% for tstat in tstate.teamstats_set.all() %}
                    <tr>
                    <td class="text-center">{{loop.index}}</td>
                    <td>{{ tstat.team.name }} ({{ tstat.team.abbreviation}})</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-3">
</div>