<div class="col-md">
    <div class="card">
        <div class="card-header card-header-icon">
            <div class="card-icon" style="background: {{ tstate.color }}">
                <i class="material-icons">table_rows</i>
            </div>
            <h4 class="card-title">{{tstate.name}}</h4>
        </div>
        <div class="card-body">
            {% include "beachhandball/tournamentevent/_tournament_state_overview_printview.html" %}
        <div class="card-footer">
        </div>
    </div>
</div>