{% with link_name = stage.id %}
{% if request.GET.tab %}
    {% if request.GET.tab == stage.id %}
        <div class="tab-pane active" id={{link_name}}>
    {% else %}
        <div class="tab-pane" id={{link_name}}>
    {% endif %}
    {% else %}
    {% if loop.first %}
        <div class="tab-pane active" id={{link_name}}>
    {% else %}
        <div class="tab-pane" id={{link_name}}>
    {% endif %}
{% endif %} 
    <div class="card">
    <div class="card-body">
        <div class="row">
        {% for tstate in stage.get_tstates_without_finalranking.all() %}
            {% include "beachhandball/tournamentevent/_tournament_state_item.html" %}
        {% else %}
        <h3>{{ stage.name }}No states exists!</h3>
        {% endfor %}
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="create-tstate btn btn-sm btn-primary" rel="tooltip" title="Create new TournamentState" data-form-url="{{ url('structure_setup.create_tstate', kwargs={'pk_tevent': tevent.id, 'pk_tstage': stage.id}) }}">
            <span class="fa fa-plus mr-2"></span> Create State
        </button> 
        <button type="button" class="delete-tstage btn btn-sm btn-danger" rel="tooltip" title="Delete Stage" data-form-url="{{ url('structure_setup.delete_tstage', kwargs={'pk_tevent': tevent.id, 'pk_tstage': stage.id}) }}">
            <span class="fa fa-trash"></span>
        </button>   
    </div>
    </div>
</div>
{% endwith %}