{% extends "layouts/base.html" %}

{% block title %} Forms Validation {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="col-md-12 col-12 mr-auto ml-auto">
    <h3>Are you sure deleting full structure of <b>{{ tevent.name_short }}</b>???</h3>
  </div>
  <form id="" action={{ url('structure_setup.delete_all', args=[tevent.id]) }} method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="ml-auto">
      <button type="button" class="btn btn-primary" onclick="javascript:history.back()">Back</button>
      <input type="submit" class="btn btn-finish btn-fill btn-rose btn-wd" name="" value="YES" style="">
    </div>
  </form>

{% endblock content %}

{% block javascripts %}

<script>
  $(document).ready(function() {
    //console.log("Wizard Loaded");

   
  });

</script>

{% endblock javascripts %}
