{% extends "layouts/base.html" %}

{% block title %} Structure {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% include "beachhandball/templates/_modal.html" %}

<h2>Structure Setup - 
  <small class="description">create Structure with Tournament Stages and States...</small>
</h2>

<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="page-categories">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 offset-4">
            <h3 class="title text-center">Stage Setup</h3>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 align-self-center">
            <div class="dropdown">
              <button class="dropdown-toggle btn btn-default btn-round btn-block" type="button" id="multiDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">settings</i>
              </button>
              <div class="dropdown-menu" aria-labelledby="multiDropdownMenu">
                <a class="dropdown-item dropdown-toggle" href=""><i class="material-icons">line_style</i> Stage</a>
                <div class="dropdown-menu" id="Stage-Menu">
                  <a id="create-stage-sync" class="dropdown-item">
                    <i class="material-icons">add_circle</i> Create Stage
                  </a>
                  <a id="" class="dropdown-item">
                    <i class="material-icons">swap_horiz</i> Change Order
                  </a>
                </div>
                <a class="dropdown-item dropdown-toggle" href=""><i class="material-icons">format_list_numbered</i> State</a>
                <div class="dropdown-menu" id="Stage-Menu">
                  <a id="create-state-sync" class="dropdown-item">
                    <i class="material-icons">add_circle</i> Create State
                  </a>
                  <a id="" class="dropdown-item">
                    <i class="material-icons">swap_horiz</i> Change Order
                  </a>
                </div>

                <a id="delete-structure" class="dropdown-item" href="{{ url('structure_setup.delete_all', kwargs={'pk_tevent': tevent.id}) }}">
                  <i class="material-icons">delete</i> Delete Structure
                </a>
                
                
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 align-self-center">
            <form action="{{ url('structure_setup.tevent_printview', kwargs={'pk': tevent.id}) }}" method='GET'>
              <button type='submit' class="btn btn-sm btn-primary"><span class="fa fa-print"></span> Open Print View</button>
            </form>
          </div>
      </div>
      <hr />
    </div>
    <p>
    
    </p>
    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
        {% for stage in tstages_pre %}
        {% with link_name=stage.id %}
        <li class="nav-item">
            {% if request.GET.tab %}
            {% if request.GET.tab == stage.id|string %}
            <a class="nav-link active" data-toggle="tab" href="{{ ['#', link_name]|join('')  }}" role="tablist">
                {% else %}
                <a class="nav-link" data-toggle="tab" href="{{ ['#', link_name]|join('')  }}" role="tablist">
                    {% endif %}
                    {% else %}
                    {% if loop.first %}
                    <a class="nav-link active" data-toggle="tab" href="{{ ['#', link_name]|join('') }}" role="tablist">
                        {% else %}
                        <a class="nav-link" data-toggle="tab" href="{{ ['#', link_name]|join('')  }}" role="tablist">
                            {% endif %}
                            {% endif %}

                            {% if stage.tournament_stage == "GROUP_STAGE" %}
                            <i class="material-icons">groups</i> {{stage.name}}
                            {% elif stage.tournament_stage == "MAIN_ROUND" %}
                            <i class="material-icons">shuffle</i> {{stage.name}}
                            {% elif stage.tournament_stage == "KNOCKOUT_STAGE" %}
                            <i class="material-icons">sports_mma</i> {{stage.name}}
                            {% elif stage.tournament_stage == "PLAYOFF_STAGE" %}
                            <i class="material-icons">thumb_down</i> {{stage.name}}
                            {% elif stage.tournament_stage == "FINAL" %}
                            <i class="material-icons">emoji_events</i> {{stage.name}}
                            {% else %}
                            <i class="material-icons">groups</i> {{stage.name}}
                            {% endif %}
                        </a>
        </li>
        {% endwith %}
        {% else %}
        <li>No Stages defined. Please add or run wizard</li>
        {% if tstages_pre|length == 0 %}
        <a class="btn btn-primary w-100" href="{{ url('setup_wizard', kwargs={'pk_tevent': tevent.id }) }}">Structure Wizard</a>
        {% endif %}
        {% endfor %}
    </ul>
    <div class="tab-content tab-space tab-subcategories">

        {% for stage in tstages_pre %}
        {% with link_name = stage.id %}
        {% if request.GET.tab %}
        {% if request.GET.tab == stage.id|string %}
        <div class="tab-pane active" id={{link_name}}>
            {% else %}
            <div class="tab-pane" id={{link_name}}>
                {% endif %}
                {% else %}
                {% if loop.first %}
                <div class="tab-pane active" id={{link_name}}>
                    {% else %}
                    <div class="tab-pane" id={{link_name}}>
                        {% endif %}
                        {% endif %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">

                                    {% for tstate in stage.tstates_wo_final %}
                                    {% include "beachhandball/tournamentevent/_tournament_state_item.html" %}
                                    {% else %}
                                    <h3>{{ stage.name }}No states exists!</h3>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="create-tstate btn btn-sm btn-primary" rel="tooltip" title="Create new TournamentState" data-form-url="{{ url('structure_setup.create_tstate', kwargs={'pk_tevent': tevent.id, 'pk_tstage': stage.id}) }}">
                                    <span class="fa fa-plus mr-2"></span> Create State
                                </button>
                                <form action="{{ url('structure_setup.tstage_printview', kwargs={'pk_tevent': tevent.id, 'pk': stage.id}) }}" method='GET'>
                                    <button type='submit' class="btn btn-sm btn-primary"><span class="fa fa-print"></span> Open Print View</button>
                                </form>
                                <button type="button" class="delete-tstage btn btn-sm btn-danger" rel="tooltip" title="Delete Stage" data-form-url="{{ url('structure_setup.delete_tstage', kwargs={'pk_tevent': tevent.id, 'pk': stage.id}) }}">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                    {% else %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <hr>

        <form action="{{ url('team_testdata', kwargs={'pk_tevent': tevent.id}) }}" method='GET'>
            <button type='submit' hidden>Create TestData</button>
        </form>

        <div class="modal fade" id="editTeamModal" tabindex="-1" role="dialog" aria-labelledby="editTeamModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form id="editTeamForm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editTeamModalLabel">Edit Team</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="editTeamId" name="team_id">
                            <div class="form-group">
                                <label for="editTeamName">Name</label>
                                <input type="text" class="form-control" id="editTeamName" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="editTeamAbbr">Abbreviation</label>
                                <input type="text" class="form-control" id="editTeamAbbr" name="abbreviation" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% endblock content %}


        {% block javascripts %}

        <script>
  $(document).ready(function() {
    $("#main-content").LoadingOverlay("hide");
    //var tdata = tournament_service.getData();
    //$.when(tournament_service.getData()).done(function(result){
    //  console.debug(JSON.stringify(result));
    //  result.tstates.forEach(function(item, index){
    //    bh.addTournamentStateHTML(item, result.teams);
    //  });
    //});
    {% if messages %}
    console.log("Has messages...");
    {% for message in messages %}
    md.showNotification('top','center', '{{ message }}', 'info');
    {% endfor %}
    {% endif %}

    $('.btn_teamsetup_delete').on('click', function(){
      console.log("TeamSetup add tstate=" + $(this).data('tournamentstate'));
      md.showNotification('top','center', 'Hello', 'info');
    });
    });

      $(function () {

          // Create tstage synchronous
          function createStageSyncModalForm() {
            $("#create-stage-sync").modalForm({
                formURL: "{{ url('structure_setup.create_tstage', kwargs={'pk': tevent.id}) }}",
                modalID: "#create-modal"
            });
          }
          createStageSyncModalForm();

          function deleteStageModalForm() {
            $(".delete-tstage").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
            });
          }
          deleteStageModalForm();

          // Create tstate synchronous
          function createStateSyncModalForm() {
            $(".create-tstate").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url")});
            });
          }
          createStateSyncModalForm();

          function deleteStateModalForm() {
            $(".delete-tstate").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
            });
          }
          deleteStateModalForm();

          function updateStateModalForm() {
            $(".update-tstate").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: false});
            });
          }
          updateStateModalForm();

          function finishStateModalForm() {
            $(".finish-tstate").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: false});
            });
          }
          finishStateModalForm();

          function updateTeamStatsTeamModalForm() {
            $(".update_teamstatsteam").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: false});
            });
          }
          updateTeamStatsTeamModalForm();

          function updateTTTModalForm() {
            $(".update_tttransition").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: false});
            });
          }
          updateTTTModalForm();

          var asyncSuccessMessage = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Game was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "<\/script>"
          ].join();
          function updateGameModalForm() {
            $(".update_game").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"),
                 asyncUpdate: true,
                 asyncSettings: {
                    closeOnSubmit: true,
                    successMessage: asyncSuccessMessage,
                    dataUrl: $(this).data("list-url"),
                    dataElementId: '#' + $(this).closest('table')[0].id,
                    dataKey: "table",
                    addModalFormFunction: reinstantiateModalForms
                  }
              });
            });
          }
          //updateGameModalForm();

          var asyncSuccessMessage2 = [
            "<div>",
            "</div>",
            "<script>",
            "<\/script>"
          ].join();

          function updateGameResultModalForm() {
            $(".update-game-result").each(function () {
              console.debug('#' + $(this).closest('table')[0].id);
                $(this).modalForm({
                  modalID: "#game-modal",
                  formURL: $(this).data("form-url"),
                 asyncUpdate: false,
                 asyncSettings: {
                    closeOnSubmit: true,
                    successMessage: asyncSuccessMessage2,
                    dataUrl: $(this).data("list-url"),
                    dataElementId: '#' + $(this).closest('table')[0].id,
                    dataKey: "table",
                    addModalFormFunction: reinstantiateModalForms
                  }
              });
            });
          }
          updateGameResultModalForm();

          function deleteGameModalForm() {
            $(".delete-game").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
            });
          }
          deleteGameModalForm();

          // Create tstate synchronous
          function createGameSyncModalForm() {
            $(".create-game").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url")});
            });
          }
          createGameSyncModalForm();

          function reinstantiateModalForms() {
            deleteStageModalForm();
            createStateSyncModalForm();
            deleteStateModalForm();
            deleteGameModalForm();
            createGameSyncModalForm();
            //updateGameModalForm();
            updateGameResultModalForm();
          }


          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });

      //function modalShowSpinner(){$("#main-content").LoadingOverlay("show");}

      const urlParams = new URLSearchParams(window.location.search);
      const tabState = urlParams.get('tab_tstate');

      console.log("URL Parameters:", urlParams.toString());
      console.log("Tab State:", tabState);

      $('.tstate_item').each(function() {
          // Determine the suffix for the tab ID based on tabState
        let tabSuffix = '_ov'; // default to 'Overview'
        if (tabState === '1') {
            tabSuffix = '_ts'; // 'Team Setup'
        } else if (tabState === '2') {
            tabSuffix = '_tr'; // 'Transitions'
        }

        // Generate the correct tab ID
        const tabId = $(this).find('.nav-link:first').attr('href').substring(1).split('_')[0] + tabSuffix;

          console.log("Tab ID:", tabId);

          const tabLink = $(this).find(`a[href="#${tabId}"]`);
          const tabPane = $(this).find(`#${tabId}`);

          console.log("Tab Link:", tabLink);
          console.log("Tab Pane:", tabPane);

          if (tabLink.length && tabPane.length) {
              // Remove active classes from other tabs and panes
              $(this).find('.nav-link').removeClass('active');
              $(this).find('.tab-pane').removeClass('active show');

              // Add active classes to the selected tab and pane
              tabLink.addClass('active');
              tabPane.addClass('active show');
          } else {
              console.error("Tab Link or Tab Pane not found!");
          }
      });



      $('.delete-tstate-games').on('click', function() {
        const formUrl = $(this).data('form-url');

        if (confirm('Are you sure you want to delete all games for this TournamentState?')) {
            $.ajax({
                url: formUrl,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                },
                success: function(response) {
                    alert('Games deleted successfully.');
                    location.reload(); // Optionally reload the page to reflect changes
                },
                error: function(xhr, status, error) {
                    alert('An error occurred while deleting games: ' + error);
                }
            });
        }
    });



        </script>

        {% endblock javascripts %}
