{% extends "layouts/base.html" %}

{% block title %} Teams Setup {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h2>Teams Setup</h2>
<div class="row">
<div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">assignment_turned_in</i>
          </div>
          <h4 class="card-title">Teams registered:</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Nationality</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for team in teams_accepted %}
                <tr>
                  <td class="text-center">{{team.name}}</td>
                  <td>{{team.nationality}}</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-info">
                      <i class="material-icons">person</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row">
<div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title">Teams appending:</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Nationality</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for team in teams_accepted %}
                <tr>
                  <td class="text-center">{{team.name}}</td>
                  <td>{{team.nationality}}</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-info">
                      <i class="material-icons">person</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}

<script>
  $(document).ready(function() {
  });
</script>

{% endblock javascripts %}