{% extends "layouts/base.html" %}

{% block title %} Teams {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h2>Teams Setup</h2>
<div class="row">
  <div class="col">
    <div class="card">
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">assignment_turned_in</i>
          </div>
          <h4 class="card-title">Teams registered:</h4>
        </div>
        <div class="card-body">
          <div id="team-list" role="tablist">
            {% for team in tevent.team_set.all() %}
              {% if not team.is_dummy %}
                <div class="card-collapse">
                  <div class="card-header" role="tab" id="{{team.id}}_playerlist_header">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" href="#{{team.id}}_playerlist" aria-expanded="false" aria-controls="{{team.id}}_playerlist" class="collapsed">
                        <h4>{{ team.name }} ({{ team.abbreviation }})</h4>
                        <i class="material-icons">keyboard_arrow_down</i>
                      </a>
                    </h5>
                  </div>
                  <div id="{{team.id}}_playerlist" class="collapse" role="tabpanel" aria-labelledby="{{team.id}}_playerlist_header" data-parent="#team-list" style="">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4">
                          <h3> General Information:</h3>
                          
                          <div class="user" hidden>
                          <div class="photo">
                            <img src="/static/assets/img/card-3.jpg" class="img-responsive"/>
                          </div>
                          </div>
                          <div class="card card-plain">
                            <div class="card-body">
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th class="text-center"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Name:</td>
                                      <td class="text-center">{{team.name}}</td>
                                    </tr>
                                    <tr>
                                      <td>Abbreviation:</td>
                                      <td class="text-center">{{team.abbreviation}}</td>
                                    </tr>
                                    <tr>
                                      <td>GBOid:</td>
                                      <td class="text-center">{{team.gbo_team}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>

                          <h3> Coaches:</h3>
                          <div class="card card-plain">
                            <div class="card-body">
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th class="text-center">Role</th>
                                      <th class="text-center">ID</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for coach in team.coach_set.all() %}
                                      <tr>
                                        <td class="text-center">{{coach.name}}, {{coach.first_name}}</td>
                                        <td class="text-center">{{ coach.gbo_position }}</td>
                                        <td class="text-center">{{ coach.season_coach_id }}</td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                          <h3> Players:</h3>
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Active</th>
                                  <th>#</th>
                                  <th class="text-center">Name</th>
                                  <th class="text-center">Position</th>
                                  <th class="text-center">ID</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for player in team.player_set.all() %}
                                <tr>
                                  <td>{% if player.is_active %}<i class="material-icons">check_box</i>{% else %}<i class="material-icons">check_box_outline_blank</i>{% endif %}</td>
                                  <td>{{ player.number }}</td>
                                  <td class="text-center">{{player.name}}, {{player.first_name}}</td>
                                  <td class="text-center">{{ player.gbo_position }}</td>
                                  <td>{{ player.season_player_id }}</td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                          Total amount player: {{ team.player_set.count() }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>


          <div class="table-responsive" hidden>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Nationality</th>
                </tr>
              </thead>
              <tbody>
              {% for team in tevent.team_set.all() %}
                {% if not team.is_dummy %}
                <tr>
                  <td class="text-center">{{team.name}}</td>
                  <td>GER</td>
                </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row" hidden>
<div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title">Teams appending:</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Nationality</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for team in teams_accepted %}
                <tr>
                  <td class="text-center">{{team.name}}</td>
                  <td>{{team.nationality}}</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-info">
                      <i class="material-icons">person</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}

<script>
  $(document).ready(function() {
  });
</script>

{% endblock javascripts %}