[client]
database = beachhandball_2022
#database = beachhandball_test
host = 127.0.0.1
#host = 38.242.148.90 test
#host = 38.242.148.70 prod
#host = 127.0.0.1
user = admin
password = password
user_local = admin
password_local = password
#default-character-set = utf8
default-character-set = utf8mb4
#user = to
#test host = 62.75.170.12
#prod host = 62.75.141.167
#host = j5zntocs2dn6c3fj.chr7pe7iynqr.eu-west-1.rds.amazonaws.com
#user = xjqyw03a4df3zgfb
#password = n4gcrsvpci3orli7
#database =djn3co0c7pnnfl5j