[client]
#database = beachhandball_2022
#host = 62.75.170.12
#host = 127.0.0.1
#user = tim
#password = qs12fhw5
default-character-set = utf8
#user = to
#host = 62.75.170.12
#host = 62.75.141.167
host = j5zntocs2dn6c3fj.chr7pe7iynqr.eu-west-1.rds.amazonaws.com
user = xjqyw03a4df3zgfb
password = n4gcrsvpci3orli7
database =djn3co0c7pnnfl5j