@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
  font-family: 'LemonMilk';
  src: url('/static/assets/font/LEMONMILK-Regular.otf') format('truetype');
}

/*----- Classi comuni ----*/
:root {
--skew: 0deg;
--antiskew: -10deg;
--text: #FFF;
--textpenalty: #000000;
--textinverted: #f1f1f1;
--bordercolors: rgba(255,255,255,.0);
--bkgimage: rgba(255,255,255,.0);
--bkgdark: #000;
--bkgmedium: rgba(0,0,0,.9);
--bkgbox: rgba(255,255,255,.0);
--bkgtimer: rgba(255,255,255,1);
--bkgpenalty: rgba(255,215,0,.9);
--signalcolor: red;
--signaloff: rgba(255,255,255,.9);
--linee: rgba(255,255,255,.9);

--timerwidth:2.5em;
--timerpadding: 10 .5vw;
--pointswidth:2.5em;
--pointspadding: 0 1.5vw;
--momentwidth:1.7em;
--labelsmargin: .1em;
}

html, body {margin:0; padding:0;}
em {font-style:normal;}
.box, div {box-sizing: border-box; display:flex; align-items:center; height:100%; background:var(--bkgbox);}
.container {position:relative;justify-content:center; box-sizing: border-box; height:auto; float:none; clear:both; width:auto; display:grid; column-gap: 1vw; background:var(--bkgimage); color:var(--text); border-left:solid 2vw var(--bordercolors); padding:.3vw; font-family: 'LemonMilk', sans-serif;
transform:skew(var(--skew));}

.toplabel {padding:0; float:left;justify-self: start; padding: 3px; background:var(--bkgtimer); font-weight:bold; color:var(--textpenalty); font-size:1.25vw;}
.boxtimer {padding:var(--timerpadding); float:left;padding: 1px; background:var(--bkgtimer); font-weight:bold; color:var(--textpenalty)}
.boxhometeam {padding:var(--timerpadding); padding-left: 1px; float:left; background:var(--bkgmedium); font-weight:bold; font-size:3.0vw;}
.boxawayteam {padding:var(--timerpadding); padding-left: 1px;float:left; background:var(--bkgmedium); font-weight:bold; font-size:3.0vw;}
.boxpoints {padding:var(--pointspadding); float:left;background:var(--bkgmedium); font-weight:bold;}
.boxpointsp {padding:var(--pointspadding); float:left;background:var(--bkgpenalty); font-weight:bold; color:var(--textpenalty);}
.boxovertimeon {background:var(--signalcolor);}

.sgrlogo {background-size: contain !important;}

/*---- BEACHHANDBALL --------*/
.containerbeachhandballscore {grid-template: auto / auto var(--pointswidth) 1.2em auto;grid-template-rows: 300px minmax(0, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
    column-gap:0; row-gap: 4; font-size:5.5vw;
}
.containerbeachhandballscore .space {display:none;}
.containerbeachhandballscore .box {justify-content:center;}
.containerbeachhandballscore .boxteams {justify-content:flex-start;}
.containerbeachhandballscore .boxhomeset {justify-content:flex-start; font-size:2.5vw;}
.containerbeachhandballscore .boxawayset {justify-content:flex-start; font-size:2.5vw;}
.containerbeachhandballscore .boxshoot {justify-content:flex-start; font-size:2.5vw;}


.containerbeachhandballscore .sgrlogo {grid-row: 1/1; grid-column: 1/1;}
.containerbeachhandballscore .toplabel {grid-row: 1/1; grid-column: 1/20;}
.containerbeachhandballscore .boxhometeam {grid-row: 2/2; grid-column: 1/5;}
.containerbeachhandballscore .boxawayteam {grid-row: 2/2; grid-column: 9/20;}
.containerbeachhandballscore .boxhomepoints {grid-row: 3/3; grid-column: 1/5;}
.containerbeachhandballscore .boxawaypoints {grid-row: 3/3; grid-column: 9/20;}
.containerbeachhandballscore .boxhomepointsht2 {grid-row: 4/4; grid-column: 1/5;}
.containerbeachhandballscore .boxawaypointsht2 {grid-row: 4/4; grid-column: 9/20;}

.containerbeachhandballscore .boxhomepointsp {grid-row: 5/5; grid-column: 1/5;}
.containerbeachhandballscore .boxawaypointsp {grid-row: 5/5; grid-column: 9/20;}

.containerbeachhandballscore .boxhomeset {grid-row: 3/3; grid-column: 5/7;}
.containerbeachhandballscore .boxawayset {grid-row: 4/4; grid-column: 5/7;}
.containerbeachhandballscore .boxshoot {grid-row: 5/5; grid-column: 5/7;}

/*.containerbeachhandball .boxmoment {grid-row: 1/2; grid-column: 6/7;}*/
.containerbeachhandballscore .boxtimer {grid-row: 2/2; grid-column: 6/7;}

.containerbeachhandballscore .boximage {grid-row: 6/7; grid-column: 2/2;}
.containerbeachhandballscore .boximage1 {grid-row: 6/7; grid-column: 6/6;}
.containerbeachhandballscore .boximage2 {grid-row: 6/7; grid-column: 16/16;}


.containerbeachhandballscore .sgrlogo {margin: 0 .1em;}
.containerbeachhandballscore .boxteams {padding-right: .2em;}
.containerbeachhandballscore .boxpoints {border-right: solid 0.3vw rgba(255,255,255,0.3);}
.containerbeachhandballscore .boxmoment {font-size: .7em; padding:0;}
.containerbeachhandballscore .boxtimer {min-width:var(--timerwidth);justify-self: start;}
.containerbeachhandballscore .boxovertimeon {background: transparent; color: var(--signalcolor);}


/*---- BEACHHANDBALL --------*/
.containerbeachhandball {grid-template: auto / auto var(--pointswidth) 1.2em auto;grid-template-rows: 40px minmax(0, 1fr); grid-template-columns: 10px minmax(0, 1fr); column-gap:0; row-gap: 4; font-size:5.5vw;}
.containerbeachhandball .space {display:none;}
.containerbeachhandball .box {justify-content:center;}
.containerbeachhandball .boxteams {justify-content:flex-start;
  min-width: 550px;
  max-width: 550px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  padding-right: 7%; padding-left: 3%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(4,68,98,1) 48%, rgba(0,0,0,1) 100%);
}


.containerbeachhandball .sgrlogo {grid-row: 1/4; grid-column: 1/1;}
.containerbeachhandball .toplabel {grid-row: 1/1; grid-column: 2/11;}
.containerbeachhandball .boxhometeam { box-sizing: border-box; grid-row: 2/3; grid-column: 2/5; border: 2px solid #fff ;}
.containerbeachhandball .boxawayteam { box-sizing: border-box; grid-row: 3/4; grid-column: 2/5; border: 2px solid #fff ; }
.containerbeachhandball .boxhomepoints {grid-row: 2/3; grid-column: 5/7; border: 2px solid #fff ;}
.containerbeachhandball .boxawaypoints {grid-row: 3/4; grid-column: 5/7; border: 2px solid #fff ;}
.containerbeachhandball .boxhomepointsht2 {grid-row: 2/3; grid-column: 7/9; border: 2px solid #fff ;}
.containerbeachhandball .boxawaypointsht2 {grid-row: 3/4; grid-column: 7/9; border: 2px solid #fff ;}

.containerbeachhandball .boxhomepointsp {grid-row: 2/3; grid-column: 9/11; border: 2px solid #fff ;}
.containerbeachhandball .boxawaypointsp {grid-row: 3/4; grid-column: 9/11; border: 2px solid #fff ;}

/*.containerbeachhandball .boxmoment {grid-row: 1/2; grid-column: 6/7;}*/
.containerbeachhandball .boxtimer {grid-row: 4/4; grid-column: 2/2;}


.containerbeachhandball .sgrlogo {margin: 0 .1em;}
.containerbeachhandball .toplabel {color: transparent;}
/*.containerbeachhandball .boxteams {padding-right: .2em;}*/
.containerbeachhandball .toplabel {
  background-image: url('/static/assets/img/banner_sprungwurftv2.png');
  background-size: contain; /* Adjust the image size to cover the cell */
  background-repeat: no-repeat;
  background-position: center; /* Center the image within the cell */
  visibility: hidden;
}
/*.containerbeachhandball .boxhometeam {
  background-image: url('/static/assets/img/space3.PNG');
  background-size: cover;
  background-position: center;
}
.containerbeachhandball .boxawayteam {
  background-image: url('/static/assets/img/space4.PNG');
  background-size: cover;
  background-position: center;
} */
.containerbeachhandball .boxpoints {border-right: solid 0.3vw #fff;}
.containerbeachhandball .boxmoment {font-size: .7em; padding:0;}
.containerbeachhandball .boxtimer {min-width:var(--timerwidth);
  justify-self: start;
  background-color: whitesmoke;
  color: black;
  padding: 2%;
}
.containerbeachhandball .boxovertimeon {background: transparent; color: var(--signalcolor);}


/*---- HANDBALL --------*/
.containerhandball {grid-template: auto / auto var(--pointswidth) 1.2em auto; column-gap:0; font-size:6.5vw;}
.containerhandball .space {display:none;}
.containerhandball .box {justify-content:center;}
.containerhandball .boxteams {justify-content:flex-start;background:var(--bkgmedium);}


.containerhandball .sgrlogo {grid-row: 1/3; grid-column: 1/1;}
.containerhandball .boxhometeam {grid-row: 1/2; grid-column: 1/2;}
.containerhandball .boxawayteam {grid-row: 2/3; grid-column: 1/2;}
.containerhandball .boxhomepoints {grid-row: 1/2; grid-column: 2/3;}
.containerhandball .boxawaypoints {grid-row: 2/3; grid-column: 2/3;}
.containerhandball .boxmoment {grid-row: 1/2; grid-column: 4/5;}
.containerhandball .boxtimer {grid-row: 2/3; grid-column: 3/5;}


.containerhandball .sgrlogo {margin: 0 .1em;}
.containerhandball .boxteams {padding-right: .2em;}
.containerhandball .boxpoints {border-right: solid 0.3vw rgba(255,255,255,0.3);}
.containerhandball .boxmoment {font-size: .7em; padding:0;}
.containerhandball .boxtimer {min-width:var(--timerwidth);justify-self: start; padding-left: 5px;}
.containerhandball .boxovertimeon {background: transparent; color: var(--signalcolor);}




/*---- VOLLEY --------*/
.containervolley {grid-template: auto / auto auto var(--pointswidth) var(--pointswidth); font-size:7vw;}
.containervolley .label {font-size:.5em;}
.containervolley .box, 
.containervolley .label {justify-content:center;}
.containervolley .boxteams {justify-content:flex-start;}
.containervolley .sgrlogo {justify-content:flex-end; background-position: center right !important;}

.containervolley .sgrlogo {grid-row: 1/2; grid-column:1/2;}
.containervolley .labelpoints {grid-row: 1/2; grid-column:4/5;}
.containervolley .labelsets {grid-row: 1/2; grid-column:3/4;}
.containervolley .boxhometeam {grid-row: 2/3; grid-column:1/2;}
.containervolley .boxawayteam {grid-row: 3/4; grid-column:1/2;}
.containervolley .boxhomeservice {grid-row: 2/3; grid-column:2/3;}
.containervolley .boxawayservice {grid-row: 3/4; grid-column:2/3;}
.containervolley .boxhomepoints {grid-row: 2/3; grid-column:4/5;}
.containervolley .boxawaypoints {grid-row: 3/4; grid-column:4/5;}
.containervolley .boxhomesets {grid-row: 2/3; grid-column:3/4;}
.containervolley .boxawaysets {grid-row: 3/4; grid-column:3/4;}

.containervolley .sgrlogo {margin: 0 .1em;}
.containervolley .boxsets {font-size:.8em; border-left: solid 0.3vw rgba(255,255,255,0.3);}
.containervolley .boxservice .okservice {width:.4em; height:.5em; background:var(--signalcolor); clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0% 50%);}




/*---- PINGPONG --------*/
.containerpingpong {grid-template: auto / auto .7em var(--pointswidth) var(--pointswidth); font-size:7vw;}
.containerpingpong .label {font-size:.5em;}
.containerpingpong .box, 
.containerpingpong .label {justify-content:center;}
.containerpingpong .boxteams {justify-content:flex-start;}
.containerpingpong .sgrlogo {justify-content:flex-end; background-position: center right !important;}

.containerpingpong .sgrlogo {grid-row: 1/2; grid-column:1/2;}
.containerpingpong .labelpoints {grid-row: 1/2; grid-column:3/4;}
.containerpingpong .labelsets {grid-row: 1/2; grid-column:4/5;}
.containerpingpong .boxhometeam {grid-row: 2/3; grid-column:1/2;}
.containerpingpong .boxawayteam {grid-row: 3/4; grid-column:1/2;}
.containerpingpong .boxhomeservice {grid-row: 2/3; grid-column:2/3;}
.containerpingpong .boxawayservice {grid-row: 3/4; grid-column:2/3;}
.containerpingpong .boxhomepoints {grid-row: 2/3; grid-column:3/4;}
.containerpingpong .boxawaypoints {grid-row: 3/4; grid-column:3/4;}
.containerpingpong .boxhomesets {grid-row: 2/3; grid-column:4/5;}
.containerpingpong .boxawaysets {grid-row: 3/4; grid-column:4/5;}

.containerpingpong .sgrlogo {margin: 0 .1em;}
.containerpingpong .boxservice .okservice {width:.4em; height:.5em; background:var(--signalcolor); clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0% 50%);}

.containerpingpong .boxsets {font-size:.8em;}


/*---- SOCCER --------*/
.containersoccer {grid-template: auto / auto var(--pointswidth) 1.2em auto; column-gap:0; font-size:6.5vw;}
.containersoccer .space {display:none;}
.containersoccer .box {justify-content:center;}
.containersoccer .boxteams {justify-content:flex-start;}


.containersoccer .sgrlogo {grid-row: 1/2; grid-column: 3/4;}
.containersoccer .boxhometeam {grid-row: 1/2; grid-column: 1/2;}
.containersoccer .boxawayteam {grid-row: 2/3; grid-column: 1/2;}
.containersoccer .boxhomepoints {grid-row: 1/2; grid-column: 2/3;}
.containersoccer .boxawaypoints {grid-row: 2/3; grid-column: 2/3;}
.containersoccer .boxmoment {grid-row: 1/2; grid-column: 4/5;}
.containersoccer .boxtimer {grid-row: 2/3; grid-column: 3/5;}


.containersoccer .sgrlogo {margin: 0 .1em;}
.containersoccer .boxteams {padding-right: .2em;}
.containersoccer .boxpoints {border-right: solid 0.3vw rgba(255,255,255,0.3);}
.containersoccer .boxmoment {font-size: .7em; padding:0;}
.containersoccer .boxtimer {min-width:var(--timerwidth);}
.containersoccer .boxovertimeon {background: transparent; color: var(--signalcolor);}




/*---- RUGBY --------*/
.containerrugby {grid-template: auto / auto var(--pointswidth) 1.2em auto; column-gap:0; font-size:6.5vw;}
.containerrugby .space {display:none;}
.containerrugby .box {justify-content:center;}
.containerrugby .boxteams {justify-content:flex-start;}


.containerrugby .sgrlogo {grid-row: 1/2; grid-column: 3/4;}
.containerrugby .boxhometeam {grid-row: 1/2; grid-column: 1/2;}
.containerrugby .boxawayteam {grid-row: 2/3; grid-column: 1/2;}
.containerrugby .boxhomepoints {grid-row: 1/2; grid-column: 2/3;}
.containerrugby .boxawaypoints {grid-row: 2/3; grid-column: 2/3;}
.containerrugby .boxmoment {grid-row: 1/2; grid-column: 4/5;}
.containerrugby .boxtimer {grid-row: 2/3; grid-column: 3/5;}


.containerrugby .sgrlogo {margin: 0 .1em;}
.containerrugby .boxteams {padding-right: .2em;}
.containerrugby .boxpoints {border-right: solid 0.3vw rgba(255,255,255,0.3);}
.containerrugby .boxmoment {font-size: .7em; padding:0;}
.containerrugby .boxtimer {min-width:var(--timerwidth);}
.containerrugby .boxovertimeon {background: transparent; color: var(--signalcolor);}




/*---- HOCKEY --------*/
.containerhockey {grid-template: auto / auto var(--pointswidth) 1.2em auto; column-gap:0; font-size:6.5vw;}
.containerhockey .space {display:none;}
.containerhockey .box {justify-content:center;}
.containerhockey .boxteams {justify-content:flex-start;}


.containerhockey .sgrlogo {grid-row: 1/2; grid-column: 3/4;}
.containerhockey .boxhometeam {grid-row: 1/2; grid-column: 1/2;}
.containerhockey .boxawayteam {grid-row: 2/3; grid-column: 1/2;}
.containerhockey .boxhomepoints {grid-row: 1/2; grid-column: 2/3;}
.containerhockey .boxawaypoints {grid-row: 2/3; grid-column: 2/3;}
.containerhockey .boxmoment {grid-row: 1/2; grid-column: 4/5;}
.containerhockey .boxtimer {grid-row: 2/3; grid-column: 3/5;}


.containerhockey .sgrlogo {margin: 0 .1em;}
.containerhockey .boxteams {padding-right: .2em;}
.containerhockey .boxpoints {border-right: solid 0.3vw rgba(255,255,255,0.3);}
.containerhockey .boxmoment {font-size: .7em; padding:0;}
.containerhockey .boxtimer {min-width:var(--timerwidth);}
.containerhockey .boxovertimeon {background: transparent; color: var(--signalcolor);}

/*---- GENERIC --------*/
.containergeneric {grid-template: auto / 1.5em auto var(--pointswidth); font-size:6vw;}
.containergeneric .space {display:none;}

.containergeneric .sgrlogo {grid-row: 1/3; grid-column: 1/2;}
.containergeneric .boxhometeam {grid-row: 1/2; grid-column: 2/3;}
.containergeneric .boxawayteam {grid-row: 2/3; grid-column: 2/3;}
.containergeneric .boxpoints {justify-content:center;}


/*---- The following classes define the  --*/
/*body {background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;}*/

body {background: transparent;}

.separator:nth-child(1) {width:100%;float:left; margin-top:10px; padding-left:3%; font-family:arial; color:white;}

.separator {font-size: .6em; width:100%;float:left; margin-top:30px; padding-left:3%; font-family:arial; color:white;}