
@font-face {
  font-family: 'LemonMilk';
  src: url('/static/assets/font/LEMONMILK-Regular.otf') format('truetype');
}

body {
  background-color: transparent;
  font-family: 'LemonMilk';
  margin: 0;
  padding: 0;
}

thead {
  display: none;
}

.box {justify-content:center;}

.centered {
  text-align: center;
  vertical-align: middle;
}

.tableheader {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.numbercol {
  width: 15%;
  width: 50px;
}

.namecol {
  width: 85%;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}