@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
  font-family: 'Lemon Milk';
  src: url('/static/assets/font/LEMONMILK-Regular.otf') format('truetype');
}

/*----- Classi comuni ----*/
:root {
--skew: 0deg;
--antiskew: -10deg;
--text: #FFF;
--textpenalty: #000000;
--textinverted: #f1f1f1;
--bordercolors: rgba(255,255,255,.0);
--bkgimage: rgba(255,255,255,.0);
--bkgdark: #000;
--bkgmedium: rgba(0,0,0,.9);
--bkgbox: rgba(255,255,255,.0);
--bkgtimer: rgba(255,255,255,1);
--bkgpenalty: rgba(255,215,0,.9);
--signalcolor: red;
--signaloff: rgba(255,255,255,.9);
--linee: rgba(255,255,255,.9);

--timerwidth:2.5em;
--timerpadding: 10 .5vw;
--pointswidth:2.5em;
--pointspadding: 0 1.5vw;
--momentwidth:1.7em;
--labelsmargin: .1em;
}

html, body {margin:0; padding:0;}
em {font-style:normal;}
.box, div {box-sizing: border-box; display:flex; align-items:center; height:100%; background:var(--bkgbox);}
.container {position:relative;justify-content:center; box-sizing: border-box; height:auto; float:none; clear:both; width:auto; display:grid; column-gap: 1vw; background:var(--bkgimage); color:var(--text); border-left:solid 2vw var(--bordercolors); padding:.3vw; font-family: 'Roboto', sans-serif;
transform:skew(var(--skew));}

.toplabel {padding:0; float:left;justify-self: start; padding: 3px; background:var(--bkgtimer); font-weight:bold; color:var(--textpenalty); font-size:1.25vw;}
.boxtimer {padding:var(--timerpadding); float:left;padding: 1px; background:var(--bkgtimer); font-weight:bold; color:var(--textpenalty)}
.boxhometeam {padding:var(--timerpadding); padding-left: 1px; float:left; background:var(--bkgmedium); font-weight:bold; font-size:3.0vw;}
.boxawayteam {padding:var(--timerpadding); padding-left: 1px;float:left; background:var(--bkgmedium); font-weight:bold; font-size:3.0vw;}
.boxpoints {padding:var(--pointspadding); float:left;background:var(--bkgmedium); font-weight:bold;}
.boxpointsp {padding:var(--pointspadding); float:left;background:var(--bkgpenalty); font-weight:bold; color:var(--textpenalty);}
.boxovertimeon {background:var(--signalcolor);}

.sgrlogo {background-size: contain !important;}

/*---- BEACHHANDBALL --------*/
.containerbeachhandballscore {grid-template: auto / auto var(--pointswidth) 1.2em auto;grid-template-rows: 300px minmax(0, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
    column-gap:0; row-gap: 4; font-size:5.5vw;
}
.containerbeachhandballscore .space {display:none;}
.containerbeachhandballscore .box {justify-content:center;}
.containerbeachhandballscore .boxteams {justify-content:flex-start;}
.containerbeachhandballscore .boxhomeset {justify-content:flex-start; font-size:2.5vw;}
.containerbeachhandballscore .boxawayset {justify-content:flex-start; font-size:2.5vw;}
.containerbeachhandballscore .boxshoot {justify-content:flex-start; font-size:2.5vw;}


.containerbeachhandballscore .sgrlogo {grid-row: 1/1; grid-column: 1/1;}
.containerbeachhandballscore .toplabel {grid-row: 1/1; grid-column: 1/20;}
.containerbeachhandballscore .boxhometeam {grid-row: 2/2; grid-column: 1/5;white-space: nowrap;}
.containerbeachhandballscore .boxawayteam {grid-row: 2/2; grid-column: 9/20;white-space: nowrap;}
.containerbeachhandballscore .boxhomepoints {grid-row: 3/3; grid-column: 1/5;}
.containerbeachhandballscore .boxawaypoints {grid-row: 3/3; grid-column: 9/20;}
.containerbeachhandballscore .boxhomepointsht2 {grid-row: 4/4; grid-column: 1/5;}
.containerbeachhandballscore .boxawaypointsht2 {grid-row: 4/4; grid-column: 9/20;}

.containerbeachhandballscore .boxhomepointsp {grid-row: 5/5; grid-column: 1/5;}
.containerbeachhandballscore .boxawaypointsp {grid-row: 5/5; grid-column: 9/20;}

.containerbeachhandballscore .boxhomeset {grid-row: 3/3; grid-column: 5/7;}
.containerbeachhandballscore .boxawayset {grid-row: 4/4; grid-column: 5/7;}
.containerbeachhandballscore .boxshoot {grid-row: 5/5; grid-column: 5/7;}

/*.containerbeachhandball .boxmoment {grid-row: 1/2; grid-column: 6/7;}*/
.containerbeachhandballscore .boxtimer {grid-row: 2/2; grid-column: 6/7;}

.containerbeachhandballscore .boximage {grid-row: 6/7; grid-column: 2/2;}
.containerbeachhandballscore .boximage1 {grid-row: 6/7; grid-column: 6/6;}
.containerbeachhandballscore .boximage2 {grid-row: 6/7; grid-column: 16/16;}


.containerbeachhandballscore .sgrlogo {margin: 0 .1em;}
.containerbeachhandballscore .boxteams {padding-right: .2em;}
.containerbeachhandballscore .boxpoints {border-right: solid 0.3vw rgba(255,255,255,0.3);}
.containerbeachhandballscore .boxmoment {font-size: .7em; padding:0;}
.containerbeachhandballscore .boxtimer {min-width:var(--timerwidth);justify-self: start;}
.containerbeachhandballscore .boxovertimeon {background: transparent; color: var(--signalcolor);}


/*---- BEACHHANDBALL --------*/
.containerbeachhandball {grid-template: auto / auto var(--pointswidth) 1.2em auto;grid-template-rows: 40px minmax(0, 1fr); grid-template-columns: 10px minmax(0, 1fr); column-gap:0; row-gap: 4; font-size:5.5vw;}
.containerbeachhandball .space {display:none;}
.containerbeachhandball .box {justify-content:center;}
.containerbeachhandball .boxteams {justify-content:flex-start;}


.containerbeachhandball .sgrlogo {grid-row: 1/4; grid-column: 1/1;}
.containerbeachhandball .toplabel {grid-row: 1/1; grid-column: 2/11;}
.containerbeachhandball .boxhometeam {grid-row: 2/3; grid-column: 2/5; border: 2px solid #fff ;}
.containerbeachhandball .boxawayteam {grid-row: 3/4; grid-column: 2/5; border: 2px solid #fff ;}
.containerbeachhandball .boxhomepoints {grid-row: 2/3; grid-column: 5/7; border: 2px solid #fff ;}
.containerbeachhandball .boxawaypoints {grid-row: 3/4; grid-column: 5/7; border: 2px solid #fff ;}
.containerbeachhandball .boxhomepointsht2 {grid-row: 2/3; grid-column: 7/9; border: 2px solid #fff ;}
.containerbeachhandball .boxawaypointsht2 {grid-row: 3/4; grid-column: 7/9; border: 2px solid #fff ;}

.containerbeachhandball .boxhomepointsp {grid-row: 2/3; grid-column: 9/11; border: 2px solid #fff ;}
.containerbeachhandball .boxawaypointsp {grid-row: 3/4; grid-column: 9/11; border: 2px solid #fff ;}

/*.containerbeachhandball .boxmoment {grid-row: 1/2; grid-column: 6/7;}*/
.containerbeachhandball .boxtimer {grid-row: 4/4; grid-column: 2/2;}


.containerbeachhandball .sgrlogo {margin: 0 .1em;}
.containerbeachhandball .toplabel {color: transparent;}
.containerbeachhandball .boxteams {padding-right: .2em;}
.containerbeachhandball .toplabel {
  background-image: url('/static/assets/img/banner_sprungwurftv2.png');
  background-size: contain; /* Adjust the image size to cover the cell */
  background-repeat: no-repeat;
  background-position: center; /* Center the image within the cell */
}
.containerbeachhandball .boxhometeam {
  background-image: url('/static/assets/img/space3.PNG');
  background-size: cover; /* Adjust the image size to cover the cell */
  background-position: center; /* Center the image within the cell */
}
.containerbeachhandball .boxawayteam {
  background-image: url('/static/assets/img/space4.PNG');
  background-size: cover; /* Adjust the image size to cover the cell */
  background-position: center; /* Center the image within the cell */
}
.containerbeachhandball .boxpoints {border-right: solid 0.3vw #fff;}
.containerbeachhandball .boxmoment {font-size: .7em; padding:0;}
.containerbeachhandball .boxtimer {min-width:var(--timerwidth);justify-self: start;}
.containerbeachhandball .boxovertimeon {background: transparent; color: var(--signalcolor);}


/*---- HANDBALL --------*/
.containerhandball {grid-template: auto / auto var(--pointswidth) 1.2em auto; column-gap:0; font-size:6.5vw;}
.containerhandball .space {display:none;}
.containerhandball .box {justify-content:center;}
.containerhandball .boxteams {justify-content:flex-start;background:var(--bkgmedium);}


.containerhandball .sgrlogo {grid-row: 1/3; grid-column: 1/1;}
.containerhandball .boxhometeam {grid-row: 1/2; grid-column: 1/2;}
.containerhandball .boxawayteam {grid-row: 2/3; grid-column: 1/2;}
.containerhandball .boxhomepoints {grid-row: 1/2; grid-column: 2/3;}
.containerhandball .boxawaypoints {grid-row: 2/3; grid-column: 2/3;}
.containerhandball .boxmoment {grid-row: 1/2; grid-column: 4/5;}
.containerhandball .boxtimer {grid-row: 2/3; grid-column: 3/5;}


.containerhandball .sgrlogo {margin: 0 .1em;}
.containerhandball .boxteams {padding-right: .2em;}
.containerhandball .boxpoints {border-right: solid 0.3vw rgba(255,255,255,0.3);}
.containerhandball .boxmoment {font-size: .7em; padding:0;}
.containerhandball .boxtimer {min-width:var(--timerwidth);justify-self: start; padding-left: 5px;}
.containerhandball .boxovertimeon {background: transparent; color: var(--signalcolor);}




/*---- VOLLEY --------*/
.containervolley {grid-template: auto / auto auto var(--pointswidth) var(--pointswidth); font-size:7vw;}
.containervolley .label {font-size:.5em;}
.containervolley .box, 
.containervolley .label {justify-content:center;}
.containervolley .boxteams {justify-content:flex-start;}
.containervolley .sgrlogo {justify-content:flex-end; background-position: center right !important;}

.containervolley .sgrlogo {grid-row: 1/2; grid-column:1/2;}
.containervolley .labelpoints {grid-row: 1/2; grid-column:4/5;}
.containervolley .labelsets {grid-row: 1/2; grid-column:3/4;}
.containervolley .boxhometeam {grid-row: 2/3; grid-column:1/2;}
.containervolley .boxawayteam {grid-row: 3/4; grid-column:1/2;}
.containervolley .boxhomeservice {grid-row: 2/3; grid-column:2/3;}
.containervolley .boxawayservice {grid-row: 3/4; grid-column:2/3;}
.containervolley .boxhomepoints {grid-row: 2/3; grid-column:4/5;}
.containervolley .boxawaypoints {grid-row: 3/4; grid-column:4/5;}
.containervolley .boxhomesets {grid-row: 2/3; grid-column:3/4;}
.containervolley .boxawaysets {grid-row: 3/4; grid-column:3/4;}

.containervolley .sgrlogo {margin: 0 .1em;}
.containervolley .boxsets {font-size:.8em; border-left: solid 0.3vw rgba(255,255,255,0.3);}
.containervolley .boxservice .okservice {width:.4em; height:.5em; background:var(--signalcolor); clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0% 50%);}




/*---- PINGPONG --------*/
.containerpingpong {grid-template: auto / auto .7em var(--pointswidth) var(--pointswidth); font-size:7vw;}
.containerpingpong .label {font-size:.5em;}
.containerpingpong .box, 
.containerpingpong .label {justify-content:center;}
.containerpingpong .boxteams {justify-content:flex-start;}
.containerpingpong .sgrlogo {justify-content:flex-end; background-position: center right !important;}

.containerpingpong .sgrlogo {grid-row: 1/2; grid-column:1/2;}
.containerpingpong .labelpoints {grid-row: 1/2; grid-column:3/4;}
.containerpingpong .labelsets {grid-row: 1/2; grid-column:4/5;}
.containerpingpong .boxhometeam {grid-row: 2/3; grid-column:1/2;}
.containerpingpong .boxawayteam {grid-row: 3/4; grid-column:1/2;}
.containerpingpong .boxhomeservice {grid-row: 2/3; grid-column:2/3;}
.containerpingpong .boxawayservice {grid-row: 3/4; grid-column:2/3;}
.containerpingpong .boxhomepoints {grid-row: 2/3; grid-column:3/4;}
.containerpingpong .boxawaypoints {grid-row: 3/4; grid-column:3/4;}
.containerpingpong .boxhomesets {grid-row: 2/3; grid-column:4/5;}
.containerpingpong .boxawaysets {grid-row: 3/4; grid-column:4/5;}

.containerpingpong .sgrlogo {margin: 0 .1em;}
.containerpingpong .boxservice .okservice {width:.4em; height:.5em; background:var(--signalcolor); clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0% 50%);}

.containerpingpong .boxsets {font-size:.8em;}


/*---- SOCCER --------*/
.containersoccer {grid-template: auto / auto var(--pointswidth) 1.2em auto; column-gap:0; font-size:6.5vw;}
.containersoccer .space {display:none;}
.containersoccer .box {justify-content:center;}
.containersoccer .boxteams {justify-content:flex-start;}


.containersoccer .sgrlogo {grid-row: 1/2; grid-column: 3/4;}
.containersoccer .boxhometeam {grid-row: 1/2; grid-column: 1/2;}
.containersoccer .boxawayteam {grid-row: 2/3; grid-column: 1/2;}
.containersoccer .boxhomepoints {grid-row: 1/2; grid-column: 2/3;}
.containersoccer .boxawaypoints {grid-row: 2/3; grid-column: 2/3;}
.containersoccer .boxmoment {grid-row: 1/2; grid-column: 4/5;}
.containersoccer .boxtimer {grid-row: 2/3; grid-column: 3/5;}


.containersoccer .sgrlogo {margin: 0 .1em;}
.containersoccer .boxteams {padding-right: .2em;}
.containersoccer .boxpoints {border-right: solid 0.3vw rgba(255,255,255,0.3);}
.containersoccer .boxmoment {font-size: .7em; padding:0;}
.containersoccer .boxtimer {min-width:var(--timerwidth);}
.containersoccer .boxovertimeon {background: transparent; color: var(--signalcolor);}




/*---- RUGBY --------*/
.containerrugby {grid-template: auto / auto var(--pointswidth) 1.2em auto; column-gap:0; font-size:6.5vw;}
.containerrugby .space {display:none;}
.containerrugby .box {justify-content:center;}
.containerrugby .boxteams {justify-content:flex-start;}


.containerrugby .sgrlogo {grid-row: 1/2; grid-column: 3/4;}
.containerrugby .boxhometeam {grid-row: 1/2; grid-column: 1/2;}
.containerrugby .boxawayteam {grid-row: 2/3; grid-column: 1/2;}
.containerrugby .boxhomepoints {grid-row: 1/2; grid-column: 2/3;}
.containerrugby .boxawaypoints {grid-row: 2/3; grid-column: 2/3;}
.containerrugby .boxmoment {grid-row: 1/2; grid-column: 4/5;}
.containerrugby .boxtimer {grid-row: 2/3; grid-column: 3/5;}


.containerrugby .sgrlogo {margin: 0 .1em;}
.containerrugby .boxteams {padding-right: .2em;}
.containerrugby .boxpoints {border-right: solid 0.3vw rgba(255,255,255,0.3);}
.containerrugby .boxmoment {font-size: .7em; padding:0;}
.containerrugby .boxtimer {min-width:var(--timerwidth);}
.containerrugby .boxovertimeon {background: transparent; color: var(--signalcolor);}




/*---- HOCKEY --------*/
.containerhockey {grid-template: auto / auto var(--pointswidth) 1.2em auto; column-gap:0; font-size:6.5vw;}
.containerhockey .space {display:none;}
.containerhockey .box {justify-content:center;}
.containerhockey .boxteams {justify-content:flex-start;}


.containerhockey .sgrlogo {grid-row: 1/2; grid-column: 3/4;}
.containerhockey .boxhometeam {grid-row: 1/2; grid-column: 1/2;}
.containerhockey .boxawayteam {grid-row: 2/3; grid-column: 1/2;}
.containerhockey .boxhomepoints {grid-row: 1/2; grid-column: 2/3;}
.containerhockey .boxawaypoints {grid-row: 2/3; grid-column: 2/3;}
.containerhockey .boxmoment {grid-row: 1/2; grid-column: 4/5;}
.containerhockey .boxtimer {grid-row: 2/3; grid-column: 3/5;}


.containerhockey .sgrlogo {margin: 0 .1em;}
.containerhockey .boxteams {padding-right: .2em;}
.containerhockey .boxpoints {border-right: solid 0.3vw rgba(255,255,255,0.3);}
.containerhockey .boxmoment {font-size: .7em; padding:0;}
.containerhockey .boxtimer {min-width:var(--timerwidth);}
.containerhockey .boxovertimeon {background: transparent; color: var(--signalcolor);}

/*---- GENERIC --------*/
.containergeneric {grid-template: auto / 1.5em auto var(--pointswidth); font-size:6vw;}
.containergeneric .space {display:none;}

.containergeneric .sgrlogo {grid-row: 1/3; grid-column: 1/2;}
.containergeneric .boxhometeam {grid-row: 1/2; grid-column: 2/3;}
.containergeneric .boxawayteam {grid-row: 2/3; grid-column: 2/3;}
.containergeneric .boxpoints {justify-content:center;}





/*---- TENNIS --------*/
.containertennis {grid-template: auto / auto; column-gap:0; font-size: 5.5vw;}
.containertennis .box {justify-content:center;}
.containertennis .boxteams {justify-content:flex-start;}
/* posizioni */
.containertennis .sgrlogo {grid-column: 2/3; grid-row: 1/2;}
.containertennis .boxhomeservice {grid-column: 2/3; grid-row: 2/3;}
.containertennis .boxawayservice {grid-column: 2/3; grid-row: 3/4;}
.containertennis .boxhometeam {grid-column: 1/2; grid-row: 2/3;}
.containertennis .boxawayteam {grid-column: 1/2; grid-row: 3/4;}
.containertennis .labelpoints {grid-column: 3/4; grid-row: 1/2;}
.containertennis .boxhomepoints {grid-column: 3/4; grid-row: 2/3;}
.containertennis .boxawaypoints {grid-column: 3/4; grid-row: 3/4;}
.containertennis .labelgames {grid-column: 4/5; grid-row: 1/2;}
.containertennis .boxhomegames {grid-column: 4/5; grid-row: 2/3;}
.containertennis .boxawaygames {grid-column: 4/5; grid-row: 3/4;}


/* posizioni set */
.containertennis .boxoff {border:0; padding:0;}
.containertennis .boxon {border-left: solid 2px var(--linee);}

.containertennis #set_1_points_1 {grid-column:5/6; grid-row:2/3;}
.containertennis #set_1_points_2 {grid-column:5/6; grid-row:3/4;}
.containertennis #set_2_points_1 {grid-column:6/7; grid-row:2/3;}
.containertennis #set_2_points_2 {grid-column:6/7; grid-row:3/4;}
.containertennis #set_3_points_1 {grid-column:7/8; grid-row:2/3;}
.containertennis #set_3_points_2 {grid-column:7/8; grid-row:3/4;}
.containertennis #set_4_points_1 {grid-column:8/9; grid-row:2/3;}
.containertennis #set_4_points_2 {grid-column:8/9; grid-row:3/4;}
.containertennis #set_5_points_1 {grid-column:9/10; grid-row:2/3;}
.containertennis #set_5_points_2 {grid-column:9/10; grid-row:3/4;}


.containertennis .label {font-size:.6em; justify-content:center;}
.containertennis .labelgames {font-size:.01em; color:transparent;}
.containertennis .labelgames:before {content:"G"; font-size:60em; color: var(--text);}
.containertennis .boxservice {min-width:3vw;}
.containertennis .boxservice .okservice {width:.4em; height:.5em; background:var(--signalcolor); clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0% 50%);}

.containertennis .boxpoints {min-width:var(--pointswidth);}
.containertennis .boxset, 
.containertennis .boxgames {padding: 0 .1em; border-right-style: solid; border-right-width: .05em; border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--linee), rgba(0, 0, 0, 0) ) 1 100%; min-width:1em;}
.containertennis .boxgames {background: var(--bkgmedium); border-left-style: solid; border-left-width: .05em; border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--linee), rgba(0, 0, 0, 0) ) 1 100%;}
.containertennis .boxoff {display:none;}



/*------ BASKETBALL ------*/
.containerbasket {float:left; width:auto; grid-template: auto / repeat(3, auto) calc(var(--pointswidth) + .5em) 1em auto; column-gap:0; font-size:7vw; }
.containerbasket .box {align-items: flex-start;}

.containerbasket .boxpoints {border-right: solid .3vw rgba(255,255,255,0.3)}


.containerbasket .sgrlogo {grid-column:5/6; grid-row:1/3;}
.containerbasket .space {display:none;}
.containerbasket .boxhometeam {grid-column:1/4; grid-row:1/2;}
.containerbasket .boxawayteam {grid-column:1/4; grid-row:3/4;}
.containerbasket .boxhomepoints {grid-column:4/5; grid-row:1/3;}
.containerbasket .boxawaypoints {grid-column:4/5; grid-row:3/5;}
.containerbasket .boxtimer {grid-column:5/7; grid-row:3/5;}
.containerbasket .boxmoment {grid-column:6/7; grid-row:1/3;}

.containerbasket .boxhomefouls {grid-column:2/3; grid-row:2/3;}
.containerbasket .boxawayfouls {grid-column:2/3; grid-row:4/5;}
.containerbasket .boxhometimeouts {grid-column:3/4; grid-row:2/3;}
.containerbasket .boxawaytimeouts {grid-column:3/4; grid-row:4/5;}
.containerbasket .boxhomebonus {grid-column:1/2; grid-row:2/3;}
.containerbasket .boxawaybonus {grid-column:1/2; grid-row:4/5;}

.containerbasket .boxhomefoulsEU {grid-column:1/4; grid-row:2/3;}
.containerbasket .boxawayfoulsEU {grid-column:1/4; grid-row:4/5;}


/* labels */
.containerbasket .boxtimeouts:before {content:"To:"; margin-right:.3em; font-weight:bold;}
.containerbasket .boxfouls:before {content:"F:"; margin-right:.3em;}

/* on/off american/european version */
.containerbasket .secondlinersoff,
.containerbasket .secondlinersEUoff {display:none;}
.containerbasket .boxbonusoff {background:transparent !important; color:transparent;} 
.containerbasket .secondlinersEUoff {display:none;}


.containerbasket .sgrlogo {background-size: 80% !important;}
.containerbasket .boxtimer {font-size:.7em; min-width:var(--timerwidth); justify-content:center; align-items: center;}
.containerbasket .secondliners {font-size:.5em; padding:0 .3em; background:var(--bkgmedium); justify-content:center; align-items: center;}
.containerbasket .boxmoment {font-size:.7em; font-weight:bold; min-width: 1.5em;}
.containerbasket .boxovertimeon {background:transparent; color:red;}

.containerbasket .boxbonuson {background:var(--signalcolor) !important; color:var(--textinverted);}
.containerbasket .boxtimer,
.containerbasket .boxmoment,
.containerbasket .boxpoints {justify-content:center;}
.containerbasket .boxteams {padding-right:var(--labelsmargin);}
.containerbasket .boxmoment {align-items:center;}

/*-- falli eu --*/
.containerbasket .boxfoulsEU {display:flex; flex-flow: row nowrap; justify-content:flex-start; gap:4%; padding:0; min-height:.5vw; max-width: 70%;}
.containerbasket .EUfouls {background:gold; width: calc(80% / 5);}
.containerbasket .EUfouls:nth-child(5) {background: red;}

.containerbasket .secondlinersEUoff {display:none;}






/*------ FOOTBALL ------*/
.containerfootball {float:left; width:auto; grid-template: auto / auto var(--pointswidth) auto var(--timerwidth) var(--momentwidth); column-gap: 0; font-size:5.5vw;}

.containerfootball .sgrlogo {grid-column: 5/6; grid-row: 2/3;}
.containerfootball .boxhometeam{grid-column: 1/2; grid-row: 1/2;}
.containerfootball .boxawayteam{grid-column: 1/2; grid-row: 2/3;}
.containerfootball .boxhomepoints{grid-column: 2/3; grid-row: 1/2;}
.containerfootball .boxawaypoints{grid-column: 2/3; grid-row: 2/3;}
.containerfootball .space{ display:none; /*grid-column: 4/5; grid-row: 1/2;*/}
.containerfootball .boxtimer {grid-column: 4/5; grid-row: 1/2;}
.containerfootball .boxattempts {grid-column: 4/5; grid-row: 2/3;}
.containerfootball .boxmoment{grid-column: 5/6; grid-row: 1/2;}
.containerfootball .timeoutshome {grid-column: 3/4; grid-row: 1/2;}
.containerfootball .timeoutsaway {grid-column: 3/4; grid-row: 2/3;}
.containerfootball .boxfoul {grid-column: 5/6; grid-row: 2/3;}


.containerfootball .sgrlogo {background-size: auto 80% !important;}
.containerfootball .boxpoints {font-weight:bold; font-size:1.2em;}
.containerfootball .boxfoul {font-size:.7em;}
.containerfootball .boxfouloff {background:transparent; color:transparent;}
.containerfootball .boxfoulon {background:gold; color:#333;}
.containerfootball .boxfoul:before {content:"FLAG";}
.containerfootball .box {justify-content: center;}
.containerfootball .boxteams {justify-content: flex-start; padding-right:.2em;}

.containerfootball .containertimeouts .boxon {background:gold;}
.containerfootball .boxtimeouts {width:.2em; height:.2em; border-radius:50%;}
.containerfootball .containertimeouts {display:flex; justify-content:center; gap:.08em; padding:0 .2em;}
.containerfootball .timeoutshome {flex-flow: column nowrap;}
.containerfootball .timeoutsaway {flex-flow: column-reverse nowrap;}

.containerfootball .boxattempts {font-size:.7em;}
.containerfootball #suffixattempts,
.containerfootball .end {font-size:.7em;}
.containerfootball .boxovertimeon {background:transparent; color:var(--signalcolor);}



/*------ BOXE ------*/
.containerboxe  {grid-template: auto / 1.5em var(--timerwidth) auto; font-size: 9vw;}
.containerboxe .sgrlogo {grid-row: 1/3; grid-column:1/2;}
.containerboxe .boxtimer {grid-row: 1/3; grid-column:2/3;}
.containerboxe .boxmoment {grid-row: 2/3; grid-column:3/4;}
.containerboxe .boxcalendar {grid-row: 1/2; grid-column:3/4;}
.containerboxe .hometeamcontainer {grid-row: 3/4; grid-column:1 / -1;}
.containerboxe .awayteamcontainer {grid-row: 4/5; grid-column:1 / -1;}


.containerboxe .boxmoment strong:before {content:"Round"; margin-right: var(--labelsmargin);}
.containerboxe .boxcalendar:before {content:"Match"; margin-right: var(--labelsmargin);}

.containerboxe .boxmoment {font-size:.60em; padding:0 .8vw; background:var(--bkgmedium);}
.containerboxe .boxcalendar {font-size:.35em; padding:0 .8vw; background:var(--bkgmedium);}
.containerboxe .boxtimer {justify-content:center;}
.containerboxe .boxoff {color:transparent;}

.containerboxe .teamcontainer {display:grid; grid-template: auto / 1.2em auto;}
.containerboxe .boxteams {grid-row:1/2; grid-column:2/3; white-space: nowrap;}
.containerboxe .boxcolor {grid-row:1/2; grid-column:1/2; justify-content:center;}
.containerboxe .fightercolor {width:70%; height:70%; border-radius:10px;}


/*------- BASEBALL -----*/
.containerbaseball {grid-template: repeat(3, auto) / auto var(--pointswidth) 1.5em; column-gap:0; font-size:6.5vw;}


.containerbaseball .boxawayteam {grid-row:1/2;}
.containerbaseball .boxhometeam {grid-row:2/3;}
.containerbaseball .boxhomepoints {grid-column: 2/3; grid-row: 2/3;}
.containerbaseball .boxawaypoints {grid-column: 2/3; grid-row: 1/2;}
.containerbaseball .containergamedata {grid-column: 3/4; grid-row: 1/3;}
.containerbaseball .containerlastrow {grid-column: 1/-1; grid-row: auto/-1;}
.containerbaseball .containerlastrow {display: grid; grid-template: auto / 10vw auto auto 20vw; font-size:.8em;}
.containerbaseball .containergamedata {display: grid; grid-template: 30% 40% 30% / 100%; }



.containerbaseball .boxpoints,
.containerbaseball .containergamedata {background:var(--bkgmedium);}
.containerbaseball .boxpoints {justify-content: center;}
.containerbaseball .containergamedata {border-left-style: solid; border-left-width: 5px; border-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--linee), rgba(0, 0, 0, 0) ) 1 100%;}
.containerbaseball .containerinnings {padding:0 .4em; font-size:.55em;}
.containerbaseball .boxinningslabel {}
.containerbaseball .boxinnings {margin-right: .1em;}
.containerbaseball .boxteams {padding-right: .3em;}
.containerbaseball .containerlastrow {font-weight:bold;}
.containerbaseball .containerlastrow .box {font-size: 1.2em; justify-content: center;}
.containerbaseball .boxouts {margin-right: var(--labelsmargin);}
.containerbaseball .boxoutslabel {font-size:.8em !important;}
.containerbaseball .containerboxstrikes {background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--bkgmedium), var(--bkgmedium));}
.containerbaseball .containerouts, 
.containerbaseball .containerbases {background:var(--bkgmedium);}
.containerbaseball .sgrlogo {background-size: auto 90% !important;}

/*-- elementsdesign --*/
.containerbaseball .boxservice {position: relative;}
.containerbaseball .boxservice span {position: absolute; width: 100%; height: 70%;}
.containerbaseball span.noservice {background:var(--signaloff);}
.containerbaseball span.okservice {background: var(--signalcolor);}
.containerbaseball .boxhomeservice span {clip-path: polygon(50% 10%, 25% 100%, 75% 100%);}
.containerbaseball .boxawayservice span {clip-path: polygon(50% 90%, 25% 0%, 75% 0%);}

/*-- basesdesign--*/
.containerbaseball .containerbases {position: relative; padding:0;}
.containerbaseball .boxbases {position: absolute; width: .5em; height: .5em; padding:0; background:var(--signaloff);}
.containerbaseball .boxbases:nth-child(1) {left: 50%; bottom: .18em; transform: translateX(40%) rotate(45deg);}
.containerbaseball .boxbases:nth-child(2) {left: 50%; top: .18em; transform: translateX(-50%) rotate(45deg);}
.containerbaseball .boxbases:nth-child(3) {left: 50%; bottom: .18em; transform: translateX(-140%) rotate(45deg);}
.containerbaseball .boxon {background: var(--signalcolor) !important;}





/*---- The following classes define the  --*/
/*body {background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;}*/

body {background: transparent;}

.separator:nth-child(1) {width:100%;float:left; margin-top:10px; padding-left:3%; font-family:arial; color:white;}

.separator {font-size: .6em; width:100%;float:left; margin-top:30px; padding-left:3%; font-family:arial; color:white;}