{% extends "layouts/base.html" %}

{% block title %} Structure Wizard {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="col-md-12 col-12 mr-auto ml-auto">
    <!--      Wizard container        -->
    <div class="wizard-container">
      <div class="card card-wizard" data-color="rose" id="wizardProfile">
        <form action={{ url('setup_wizard', args=[tevent.id]) }} method="post">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <input type="hidden" name="structure-data" id="wz-structure-data" value="">
          <input type="hidden" name="tevent_category" id="wz-tevent-category" value="{{ tevent.category.category }}">
          <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
          <div class="card-header text-center">
            <h3 class="card-title">
              Setup Wizard for {{ tevent.name_short }}
            </h3>
            <h5 class="card-description">This information will create basic tournament framework.</h5>
          </div>
          <div class="wizard-navigation">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#tabStart" data-toggle="tab" role="tab">
                  Start
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tabKO" data-toggle="tab" role="tab">
                  Knockout Stage
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tabGroupStage" data-toggle="tab" role="tab">
                  Group Stage
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tabPL" data-toggle="tab" role="tab">
                  Placement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tabResult" data-toggle="tab" role="tab">
                  Result
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">

              <div class="tab-pane active" id="tabStart">
                <h3 class="info-text"> Let's start with setting up your tournament</h3>
                <h4 class="info-text"> How many teams you want to host on your tournament?</h4>
                <div class="input-group form-control-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">groups</i>
                    </span>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Max. number of Teams</label>
                    <input type="number" name="max_num_teams" id="wz-max_num_teams" class="input_group form-control" value="16" min="2" max="64" required>
                  </div>
                </div>

                <h5 class="info-text">Choose minimum 2 and maximum 64 teams</h5>
                
              </div>


              <div class="tab-pane" id="tabKO">
                <h5 class="info-text">As next step we need to define the Knockout and Placement stage.</h5>
                <p class="text-left">Define how many teams will play knockout games for the final. 2 means only 2 teams from the group stage will proceed to knockout stage, therefore this 2 teams will play directly the final. With 4 teams selected, Knockout Stage will start at the Semi-Finals, 8 teams means Quarter-Finals and so on...</p>
                <div class="input-group form-control-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">line_style</i>
                    </span>
                  </div>
                  <div class="form-group row">
                    <div class="col-8">
                    <label for="wz-sel-teams-knockout" class="">Number of teams can reach Knockout-Stage?</label>
                    
                    </div>
                    <div class="col-4">
                      <select name="sel_teams_knockout" class="input_group form-control" id="wz-sel-teams-knockout">
                        <option selected value="2">2</option>
                        <option value="4">4</option>
                        <option value="8">8</option>
                        <option value="16">16</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <h2 class="info-text">Preview</h2>
                  </div>
                  <div class="card-body">
                    <div class="row justify-content-center" id="wz-ovw-tabKO">
                    </div>
                  
                    <div class="row justify-content-center">
                      <div class="d-flex justify-content-lg-start justify-content-center p-2">
                        <span class="material-icons my-auto">
                          emoji_events
                          </span>
                          <h3>Finals</h3>
                      </div>
                    </div>
                    <div class="row justify-content-center" id="wz-ovw-tabKO_Final">
                    </div>
                  </div>
                </div>

              </div>
                
                
              <div class="tab-pane" id="tabGroupStage">
                <h5 class="info-text"> Define number and size of groups</h5>

                
                <div class="row justify-content-center">
                  <div class="col-sm-6">

                    <div class="input-group form-control-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">numbers</i>
                        </span>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Number of groups</label>
                        <input type="number" name="num_of_groups" id="wz-num_of_groups" class="input_group form-control" value="2" min="1" max="32" required>
                      </div>
                    </div>


                    
                  </div>
                  
                  <div class="col-sm-4">
                  </div>
                  
                </div>

                <p>Keep in mind that amount of groups is limited by number of teams can reach Knockout Stage which you have selected before.</p>

                <div class="card">
                  <div class="card-header">
                    <h2 class="info-text">Preview</h2>
                  </div>
                  <div class="card-body">
                    <div class="row justify-content-center" id="wz-ovw-tabGroup">
                    </div>
                  </div>
                </div>
                
              </div>



              <div class="tab-pane" id="tabPL">
                
                <h5 class="info-text" id="wz-placement-info-ko">Define until which rank you want to play Placement games</h5>
                <p class="text-left">The losing teams from Knockout Stage will continue playing for lower placements.</p>

                <div class="input-group form-control-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">format_list_numbered</i>
                    </span>
                  </div>
                  <div class="form-group row">
                    <div class="col-8">
                    <label for="wz-sel-teams-getting-ranked" class="">Number of teams getting ranked?</label>
                    
                    </div>
                    <div class="col-4">
                      <select name="sel_teams_getting_ranked" class="input_group form-control" id="wz-sel-teams-getting-ranked">
                        <option selected value="2">2</option>
                        <option value="4">4</option>
                        <option value="8">8</option>
                        <option value="16">16</option>
                      </select>
                    </div>
                  </div>
                </div>



                <div id="wz-placement-info-group">
                  <h5 class="info-text" id="wz-placement-info"> Define Placement </h5>

                  <div class="form-check row" id="wz-enable-placement-form">
                    
                    <label class="form-check-label" for="wz-enable-placement">
                      <input class="input_group form-check-input" type="checkbox" id="wz-enable-placement">
                        <b>Enable Placement after Group Stage</b>
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                    </label>
                  </div>

                  
                  <div class="row justify-content-center" id="wz-placement-options">

                    <h5 class="info-text">Define Placement Mode</h5>
                  
                    <div class="form-group row">
                      <div class="col-6">
                      <label for="wz-sel-pl-type" class="info-text">Select mode you like to play?</label>
                      
                      </div>
                      <div class="col-6">
                        <select name="sel_pl_mode" class="input_group form-control" id="wz-sel-pl-mode">
                          <option selected value="0">Do nothing</option>
                          <option value="1">Put all teams in 1 group. Ranking of group is final ranking</option>
                          <option value="2">1 or more groups + Knockout mode</option>
                          <option value="3">Directly to Knockout mode</option>
                        </select>
                      </div>
                    </div>

                    <div class="input-group form-control-lg row" name="pl_mode_onegroup" id="wz-pl-mode-onegroup">                   
                    </div>

                    <div class="input-group form-control-lg row" name="pl_mode_multigroup" id="wz-pl-mode-multigroup">
                      
                      <h5 class="info-text">Select number of Groups</h5>
                      <div class="col-sm-6">

                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">numbers</i>
                            </span>
                          </div>
                          <div class="form-group">
                            <label class="form-label">Number of groups</label>
                            <input type="number" name="pl_mode_num_of_groups" id="wz-pl-mode-num_of_groups" class="input_group form-control" value="2" min="1" max="32" required>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-sm-4">
                      </div>
                    </div>

                    <div class="input-group form-control-lg row" name="pl_mode_onlyko" id="wz-pl-mode-onlyko">                   
                      <p class="info-text text-center" id="wz-pl-mode-onlyko-extrainfo"></p>
                    </div>                  
                    
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <h2 class="info-text">Preview</h2>
                  </div>
                  <div class="card-body container">



                    <div id="accordionPL" role="tablist">


                      <div class="card-collapse">
                        <div class="card-header" role="tab" id="headingPL_FromKO">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapsePL_FromKO" aria-expanded="true" aria-controls="collapsePL_FromKO" class="collapsed">
                              <span class="material-icons align-middle mb-1">
                                sports_mma
                              </span>
                                Placement for Loosers from Knockout-Stage
                              <i class="material-icons">keyboard_arrow_down</i>
                            </a>
                          </h5>
                        </div>
                        <div id="collapsePL_FromKO" class="collapse show" role="tabpanel" aria-labelledby="headingPL_FromKO" data-parent="#accordionPL" style="">
                          <div class="card-body">
                            <div class="row justify-content-center">
                              <div class="container justify-content-center" id="wz-ovw-tabPL">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="card-collapse">
                        <div class="card-header" role="tab" id="headingPL_FromGroup">
                          <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapsePL_FromGroup" aria-expanded="false" aria-controls="collapsePL_FromGroup">
                              <span class="material-icons align-middle mb-1">
                                format_list_numbered
                              </span>
                              Placement for Loosers from Group-Stage
                              <i class="material-icons">keyboard_arrow_down</i>
                            </a>
                          </h5>
                        </div>
                        <div id="collapsePL_FromGroup" class="collapse" role="tabpanel" aria-labelledby="headingPL_FromGroup" data-parent="#accordionPL">
                          <div class="card-body">

                            <div class="row justify-content-center" id="wz-ovw-tabPL_AfterGroup">
                            </div>

                          
                          </div>
                        </div>
                      </div>
                    </div>                 
                  </div>
                </div>
                
              </div>

              
              <div class="tab-pane" id="tabResult">
                <h5 class="info-text">Checkout the result of your settings.</h5>
                <p>Individual changes can be done later...</p>
                <p>If you are happy with it, push CREATE button in the low right corner.</p>

                <!-- Eval number of games-->
                <div class="row justify-content-center">
                  <div class="col">
                    <div class="input-group form-control-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">numbers</i>
                        </span>
                      </div>

                      <div class="form-group">
                        <label class="form-label font-weight-bold">Resulting number of games</label>
                        <div class="table-responsive">
                          <table class="table align-items-center mb-0">
                            <thead>
                              <tr>
                                <th class="text-primary text-xxs font-weight-bold opacity-3 ps-2">Total</th>
                                <th class="text-secondary text-xxs font-weight-bolder opacity-7">Group-Stage</th>
                                <th class="text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Knockout-Stage</th>
                                <th class="text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Placement</th>
                                <th class="text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Final</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <input type="number" id="wz-res_num_of_games_total" class="input_group form-control input-lg text-primary text-xxs font-weight-bold opacity-3 ps-2" value="0" disabled>
                                </td>
                                <td>
                                  <input type="number" id="wz-res_num_of_games_group" class="input_group form-control" value="0" disabled>
                                </td>
                                <td>
                                  <input type="number" id="wz-res_num_of_games_ko" class="input_group form-control" value="0" disabled>
                                </td>
                                <td>
                                  <input type="number" id="wz-res_num_of_games_placement" class="input_group form-control" value="0" disabled>
                                </td>
                                <td>
                                  <input type="number" id="wz-res_num_of_games_final" class="input_group form-control" value="0" disabled>
                                </td>
                                
                              </tr>  
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="d-flex justify-content-lg-start justify-content-center p-2">
                    <span class="material-icons my-auto">
                      
                      </span>
                      <h1>Overview Structure</h1>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="d-flex justify-content-lg-start justify-content-center p-2">
                    <span class="material-icons my-auto">
                      format_list_numbered
                      </span>
                      <h3>Group-Stage</h3>
                  </div>
                </div>
                <div class="row justify-content-center" id="wz-ovw-groups">
                </div>

                <!-- KO and Placement -->
                <div class="container">

                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-header">
                          <!--h4 class="card-title">Collapsible Accordion</h4-->
                        </div>
                        <div class="card-body">
                          <div id="accordion" role="tablist">


                            <div class="card-collapse">
                              <div class="card-header" role="tab" id="headingKO">
                                <h5 class="mb-0">
                                  <a data-toggle="collapse" href="#collapseKO" aria-expanded="true" aria-controls="collapseKO" class="collapsed">
                                    <span class="material-icons align-middle mb-1">
                                      sports_mma
                                    </span>
                                      Knockout-Stage
                                    <i class="material-icons">keyboard_arrow_down</i>
                                  </a>
                                </h5>
                              </div>
                              <div id="collapseKO" class="collapse show" role="tabpanel" aria-labelledby="headingKO" data-parent="#accordion" style="">
                                <div class="card-body">
                                  <div class="container justify-content-center" id="wz-ovw-knockout">
                                    <div id="templateKO_level" class="row container">
                                      <div class="row justify-content-center mx-auto">
                                        <h3 id="templateKO_header">Best of 16</h3>
                                      </div>
                                      <div id="templateKO_items" class="row justify-content-center mx-auto">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>


                            <div class="card-collapse">
                              <div class="card-header" role="tab" id="headingPlacement">
                                <h5 class="mb-0">
                                  <a class="collapsed" data-toggle="collapse" href="#collapsePlacement" aria-expanded="false" aria-controls="collapsePlacement">
                                    <span class="material-icons align-middle mb-1">
                                      format_list_numbered
                                    </span>
                                    Placement-Stage
                                    <i class="material-icons">keyboard_arrow_down</i>
                                  </a>
                                </h5>
                              </div>
                              <div id="collapsePlacement" class="collapse" role="tabpanel" aria-labelledby="headingPlacement" data-parent="#accordion">
                                <div class="card-body">
                                  <div class="card-body">
                                     <div id="accordionPL_Result" role="tablist">


                                      <div class="card-collapse col-10">
                                        <div class="card-header" role="tab" id="headingResultPL_FromKO">
                                          <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseResultPL_FromKO" aria-expanded="true" aria-controls="collapseResultPL_FromKO" class="collapsed">
                                              <span class="material-icons align-middle mb-1">
                                                sports_mma
                                              </span>
                                                Placement for Loosers from Knockout-Stage
                                              <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                          </h5>
                                        </div>
                                        <div id="collapseResultPL_FromKO" class="collapse show" role="tabpanel" aria-labelledby="headingResultPL_FromKO" data-parent="#accordionPL_Result" style="">
                                          <div class="card-body">
                                            <div class="row justify-content-center">
                                              <div class="container justify-content-center" id="wz-ovw-placement">
                                      
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                
                
                                      <div class="card-collapse col-10">
                                        <div class="card-header" role="tab" id="headingResultPL_FromGroup">
                                          <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseResultPL_FromGroup" aria-expanded="false" aria-controls="collapseResultPL_FromGroup">
                                              <span class="material-icons align-middle mb-1">
                                                format_list_numbered
                                              </span>
                                              Placement for Loosers from Group-Stage
                                              <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                          </h5>
                                        </div>
                                        <div id="collapseResultPL_FromGroup" class="collapse" role="tabpanel" aria-labelledby="headingResultPL_FromGroup" data-parent="#accordionPL_Result">
                                          <div class="card-body">
                                            <div class="card-body">
                                              <div class="container justify-content-center" id="wz-ovw-placementXXX">
                                                <div class="card" id="wz-ovw-PL-finals-header">
                                                  <div class="card-header">
                                                    <h3 class="info-text" id="wz-ovw-PL-finals">Finals</h3>
                                                  </div>
                                                  <div class="card-body container">
                                                    <div class="row justify-content-center" id="wz-ovw-PL_Final">
                                                    </div>
                                                  </div>
                            
                                                </div> 
                                              </div>
                                              
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--div class="card ">
                    <div class="card-header ">
                      <h4 class="card-title">Navigation Pills -
                        <small class="description">Horizontal Tabs</small>
                      </h4>
                    </div>
                    <div class="card-body ">
                      <ul class="nav nav-tabs internal-nav nav-pills-warning flex-column flex-sm-row" role="tablist">
                        <li class="nav-item col">
                          <a class="nav-link active" data-toggle="tab" href="#linkKO" role="tablist">
                            <span class="material-icons align-middle mb-1">
                              sports_mma
                            </span>
                             Knockout-Stage
                          </a>
                        </li>
                        <li class="nav-item col">
                          <a class="nav-link" data-toggle="tab" href="#linkPlacement" role="tablist">
                            <span class="material-icons align-middle mb-1">
                              format_list_numbered
                            </span>
                            Placement
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content tab-space">
                        <div class="tab-pane active" id="linkKO">
                          
                          
                          <div class="container justify-content-center" id="wz-ovw-knockout">
                            <div id="templateKO_level" class="row container">
                              <div class="row justify-content-center mx-auto">
                                <h3 id="templateKO_header">Best of 16</h3>
                              </div>
                              <div id="templateKO_items" class="row justify-content-center mx-auto">
                              </div>
                            </div>
                          </div>
                          
                          <div class="row justify-content-center">
                            <div class="d-flex justify-content-lg-start justify-content-center p-2">
                              <span class="material-icons my-auto">
                                emoji_events
                                </span>
                                <h3>Finals</h3>
                            </div>
                          </div>
                          <div class="row justify-content-center" id="wz-ovw-finals">
                          </div>
                        </div>
                        <div class="tab-pane" id="linkPlacement">
                          Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                          <br />
                          <br />Dramatically maintain clicks-and-mortar solutions without functional solutions.
                        </div>
                      </div>
                    </div>
                  </div-->
                </div>

                <div class="row justify-content-center">
                  <div class="d-flex justify-content-lg-start justify-content-center p-2">
                    <span class="material-icons my-auto">
                      emoji_events
                      </span>
                      <h3>Finals</h3>
                  </div>
                </div>
                <div class="row justify-content-center" id="wz-ovw-finals">
                </div>
                
                

                <div class="row justify-content-left">
                  <div class="d-flex justify-content-sm-start justify-content-center p-2">
                    <span class="material-icons">arrow_upward</span>
                      <p>Teams transits to next stage</p>
                  </div>
                </div>
                <div class="row justify-content-left">
                  <div class="d-flex justify-content-sm-start justify-content-center p-2">
                    <span class="material-icons">clear</span>
                      <p>Teams out of tournament</p>
                  </div>
                </div>
                <div class="row justify-content-left">
                  <div class="d-flex justify-content-sm-start justify-content-center p-2">
                    <span class="badge rounded-pill bg-dark text-light text-bold m-1">4.</span>
                      <p>Teams achieves rank</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="mr-auto">
              <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
            </div>
            <div class="ml-auto">
              <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">
              <input type="submit" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Create" style="display: none;">
            </div>
            <div class="clearfix"></div>
          </div>

          <div id="templateGroup" class="col-md-3 mb-2" hidden>
            <div class="card shadow-lg">
              <span id="templateGroup_name" class="badge rounded-pill text-light w-30 mt-n2 mx-auto">Group C</span>
              <div id="templateGroup_body" class="card-body pt-0">              
                <div class="row justify-content-center mx-auto">
                  <span class="badge rounded-pill bg-info text-light m-1">1. Team</span>
                </div>
              </div>
            </div>
          </div>
          <div id="templateTeamItem" class="row justify-content-center mx-auto" hidden>
            <span id="templateTeamItem_icon" class="material-icons">arrow_upward</span>
            <span id="templateTeamItem_rank" class="badge rounded-pill bg-dark text-light text-bold m-1" hidden></span>
            <span id="templateTeamItem_name" class="badge rounded-pill bg-light text-dark m-1">1. Team</span>
          </div>


          <div id="templateKO_level" class="justify-content-center col-12" hidden>
            <div class="row justify-content-center mx-auto">
              <h3 id="templateKO_header" class="col-12 text-center">Best of 16</h3>
            </div>
            <div id="templateKO_items" class="row justify-content-center mx-auto">
            </div>
          </div>

          <div id="templatePL_level" class="container justify-content-center" hidden>
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <h3 id="templatePL_header" class="card-title text-center">Best of 16</h3>
                  </div>
                  <div class="card-body" id="templatePL_body">
                    
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          <div id="templatePL_items" class="row justify-content-center mx-auto" hidden>
          </div>

          <div id="templatePLsub_level" class="justify-content-center" hidden>
            <div class="row justify-content-center mx-auto">
              <h3 id="templatePLsub_header" class="col-12 text-center">Best of 16</h3>
            </div>
            <div id="templatePLsub_items" class="row justify-content-center mx-auto">
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- wizard container -->
  </div>

{% endblock content %}

{% block javascripts %}

<script>
  $(document).ready(function() {
    console.log("Wizard Loaded");

    bh.wzUpdateStructure();

    $('.input_group').on('change keyup', function() {
      bh.wzUpdateStructure();
    }); 
    // Initialise the wizard
    //demo.initMaterialWizard();
    // Code for the Validator
    var $validator = $('.card-wizard form').validate({
      rules: {
        max_num_teams: {
          required: true,
          min: 2
        }
      },

      highlight: function(element) {
        $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
      },
      success: function(element) {
        $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
      },
      errorPlacement: function(error, element) {
        $(element).append(error);
      }
    });



    // Wizard Initialization
    $('.card-wizard').bootstrapWizard({
      'tabClass': 'nav nav-pills',
      'nextSelector': '.btn-next',
      'previousSelector': '.btn-previous',

      onNext: function(tab, navigation, index) {
        var $valid = $('.card-wizard form').valid();
        if (!$valid) {
          $validator.focusInvalid();
          return false;
        }
      },

      onInit: function(tab, navigation, index) {
        //check number of tabs and fill the entire row
        var $total = navigation.find('li').length;
        var $wizard = navigation.closest('.card-wizard');

        $first_li = navigation.find('li:first-child a').html();
        $moving_div = $('<div class="moving-tab">' + $first_li + '</div>');
        $('.card-wizard .wizard-navigation').append($moving_div);

        refreshAnimation($wizard, index);

        $('.moving-tab').css('transition', 'transform 0s');
      },

      onTabClick: function(tab, navigation, index) {
        var $valid = $('.card-wizard form').valid();

        if (!$valid) {
          return false;
        } else {
          return true;
        }
      },

      onTabShow: function(tab, navigation, index) {
        var $total = navigation.find('li').length;
        var $current = index + 1;

        var $wizard = navigation.closest('.card-wizard');

        // If it's the last tab then hide the last button and show the finish instead
        if ($current >= $total) {
          $($wizard).find('.btn-next').hide();
          $($wizard).find('.btn-finish').show();
        } else {
          $($wizard).find('.btn-next').show();
          $($wizard).find('.btn-finish').hide();
        }

        button_text = navigation.find('li:nth-child(' + $current + ') a').html();

        setTimeout(function() {
          $('.moving-tab').text(button_text);
        }, 150);

        var checkbox = $('.footer-checkbox');

        if (!index == 0) {
          $(checkbox).css({
            'opacity': '0',
            'visibility': 'hidden',
            'position': 'absolute'
          });
        } else {
          $(checkbox).css({
            'opacity': '1',
            'visibility': 'visible'
          });
        }

        refreshAnimation($wizard, index);
      }
    });


    // Prepare the preview for profile picture
    $("#wizard-picture").change(function() {
      readURL(this);
    });

    $('[data-toggle="wizard-radio"]').click(function() {
      wizard = $(this).closest('.card-wizard');
      wizard.find('[data-toggle="wizard-radio"]').removeClass('active');
      $(this).addClass('active');
      $(wizard).find('[type="radio"]').removeAttr('checked');
      $(this).find('[type="radio"]').attr('checked', 'true');
    });

    $('[data-toggle="wizard-checkbox"]').click(function() {
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
        $(this).find('[type="checkbox"]').removeAttr('checked');
      } else {
        $(this).addClass('active');
        $(this).find('[type="checkbox"]').attr('checked', 'true');
      }
    });

    $('.set-full-height').css('height', 'auto');

    //Function to show image before upload

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $(window).resize(function() {
      $('.card-wizard').each(function() {
        $wizard = $(this);

        index = $wizard.bootstrapWizard('currentIndex');
        refreshAnimation($wizard, index);

        $('.moving-tab').css({
          'transition': 'transform 0s'
        });
      });
    });

    function refreshAnimation($wizard, index) {
      $total = $wizard.find('.nav li').length;
      $li_width = 100 / $total;

      total_steps = $wizard.find('.nav li').length;
      move_distance = $wizard.width() / total_steps;
      index_temp = index;
      vertical_level = 0;

      mobile_device = $(document).width() < 600 && $total > 3;

      if (mobile_device) {
        move_distance = $wizard.width() / 2;
        index_temp = index % 2;
        $li_width = 50;
      }

      $wizard.find('.nav li').css('width', $li_width + '%');

      step_width = move_distance;
      move_distance = move_distance * index_temp;

      $current = index + 1;

      if ($current == 1 || (mobile_device == true && (index % 2 == 0))) {
        move_distance -= 8;
      } else if ($current == total_steps || (mobile_device == true && (index % 2 == 1))) {
        move_distance += 8;
      }

      if (mobile_device) {
        vertical_level = parseInt(index / 2);
        vertical_level = vertical_level * 38;
      }

      $wizard.find('.moving-tab').css('width', step_width);
      $('.moving-tab').css({
        'transform': 'translate3d(' + move_distance + 'px, ' + vertical_level + 'px, 0)',
        'transition': 'all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1)'

      });
    }
    setTimeout(function() {
      $('.card.card-wizard').addClass('active');
    }, 600);

    
  });

</script>

{% endblock javascripts %}
