{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% if not tourn %}
  <h2>Welcome</h2>
{% else %}
  <h2>Welcome to {{ tourn.name_short }} in Season {{ season_active }}</h2>
{% endif %}

<form action="{{ url('sync_tournament_data') }}" method='GET'>
<button type='submit' class="btn btn-primary">Sync Tournament Data</button>
</form>

  <br>
  <h4>Events</h4>
  <div class="row">
  {% if events %}
  {% for tevent in events %}
    <div class="col-md-4">
      <div class="card card-product">
        <div class="card-header card-header-image" data-header-animation="true">
          <a href="{{ url('structure_setup.detail', kwargs={'pk': tevent.id }) }}">
            <img class="img" src="/static/assets/img/trophy/{{ tevent.logo }}.png">
          </a>
        </div>
        <div class="card-body">
          <div class="card-actions text-center">
            <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="Edit Teams">
              <a href="{{ url('teams_setup.detail', kwargs={'pk': tevent.id }) }}"><i class="material-icons">edit</i></a>
            </button>
            <button type="button" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="Edit Structure">
              <a href="{{ url('structure_setup.detail', kwargs={'pk': tevent.id }) }}"><i class="material-icons">edit</i></a>
            </button>
          </div>
          <h3 class="card-title">
            <a href="{{ url('structure_setup.detail', kwargs={'pk': tevent.id }) }}">{{ tevent.name }} ({{ tevent.id }})</a>
          </h3>
          {% if tevent.is_in_configuration %}
          <div>
          <h6 class="card-subtitle"><i class="material-icons">engineering</i>Event is under construction!!</h6>
          </div>
          {% endif%}
          <div class="card-description">
            {{ tevent.start_ts.strftime('%d.%m.') }} till {{ tevent.end_ts.strftime('%d.%m.%Y') }}
          </div>
        </div>
        <div class="card-footer">
          <div>
            <h4>#Teams: {{ tevent.max_number_teams }}</h4>
          </div>
          <div class="justify-content-center">
            <button class="btn btn-outline-info" rel="tooltip" data-placement="bottom" title="last sync with GBO"><i class="material-icons">sync</i>{{ tevent.last_sync_at.strftime('%H:%M:%S (%d.%m.%Y)') }}</button>
          </div>
          <div class="stats">
            <h4 class="card-category"><i class="material-icons">{{ tevent.category.icon }}</i>{{ tevent.category }} {{ tevent.category.classification }}</h4>
          </div>
        </div>
      </div>
    </div>
  
  {% endfor %}
  {% else %}
  <p>No events</p>
  {% endif %}
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  
  <script>
    $(document).ready(function() {
      
    });
  </script>

{% endblock javascripts %}
