{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% if tourn is None %}
  <h2>Welcome</h2>
{% else %}
  <h2>Welcome to {{ tourn.name_short }} in Season {{ season_active }}</h2>
{% endif %}

  <br>
  <h4>Events</h4>
  <div class="row">
  {% if events %}
  {% for tevent in events %}
    <div class="col-md-4">
      <div class="card card-product">
        <div class="card-header card-header-image" data-header-animation="true">
          <a href="#">
            <img class="img" src="/static/assets/img/logo2019.png">
          </a>
        </div>
        <div class="card-body">
          <div class="card-actions text-center">
            <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="Edit Teams">
              <i class="material-icons">edit</i>
            </button>
            <button type="button" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="Edit Structure">
              <i class="material-icons">edit</i>
            </button>
            <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
              <i class="material-icons">close</i>
            </button>
          </div>
          <h3 class="card-title">
            <a href="#">{{ tevent.name }}</a>
          </h3>
          {% if tevent.is_in_configuration %}
          <div>
          <h6 class="card-subtitle"><i class="material-icons">engineering</i>Event is under construction!!</h6>
          </div>
          {% endif%}
          <div class="card-description">
            The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona.
          </div>
        </div>
        <div class="card-footer">
          <div>
            <h4>#Teams: {{ tevent.max_number_teams }}</h4>
          </div>
          <div class="stats">
            <h4 class="card-category"><i class="material-icons">{{ tevent.category.icon }}</i>{{ tevent.category }}</h4>
          </div>
        </div>
      </div>
    </div>
  
  {% endfor %}
  {% else %}
  <p>No events</p>
  {% endif %}
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="/static/assets/js/plugins/jquery-jvectormap.js"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

      md.initVectorMap();
      if (localStorage.getItem("mockData") === null) {
        tournament_service.saveMockData();
      }

      console.debug('{{ gbo_user }}')
      
    });
  </script>

{% endblock javascripts %}
