{% extends "layouts/base.html" %}

{% macro input_field(bound_field, hide_labels, extra_label_classes="", extra_control_classes="") -%}
<div class="row">
  <div class="col-md-12">
    <div class="row align-items-center">
      <div class="col-sm-3">
      <b>{{ bound_field.field.label }}</b>
      </div>
      <div class="col-sm-7">
      <div class="form-group">
          
          {% if bound_field.field.errors %}
              {% for error in bound_field.field.errors %}
              <div class="invalid-feedback">
                  {{ error }}
              </div>
              {% endfor %}
          {% else %}
              {{ bound_field }}
          {% endif %}

          {% if bound_field.help_text %}
          <small class="form-text text-muted">{{ bound_field.field.help_text }}</small>
          {% endif %}      
      </div>
      </div>
    </div>
    <hr>
  </div>
</div>
{%- endmacro %}

{% block title %} Basic Setup {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% include "beachhandball/templates/_modal.html" %}

<h2>Basic Setup - 
  <small class="description">manage referees, create courts, tournament settings,...</small>
</h2>

<div class="col-md-12">
  <div class="card ">
      <!--div class="card-header ">
        <h4 class="card-title">Navigation Pills -
          <small class="description">Horizontal Tabs</small>
        </h4>
      </div-->
    <div class="card-body ">
        <ul class="nav nav-pills nav-pills-icons" role="tablist">
          <li class="nav-item">
            {% if form_sender == '' %}
            <a class="nav-link active" data-toggle="tab" href="#referees" role="tablist">
            {% else %}
            <a class="nav-link" data-toggle="tab" href="#referees" role="tablist">
            {% endif %}
                <i class="material-icons">sports</i> Referees
            </a>
          </li>
          <li class="nav-item">
            {% if form_sender == 'court_create' %}
            <a class="nav-link active" data-toggle="tab" href="#courts" role="tablist">
            {% else %}
            <a class="nav-link" data-toggle="tab" href="#courts" role="tablist">
            {% endif %}
                <i class="material-icons">dashboard</i> Courts
            </a>
          </li>
          <li class="nav-item">
            {% if form_sender == 'tourn_settings' %}
            <a class="nav-link active" data-toggle="tab" href="#tsettings" role="tablist">
            {% else %}
            <a class="nav-link" data-toggle="tab" href="#tsettings" role="tablist">
            {% endif %}
                <i class="material-icons">settings</i> Settings
            </a>
          </li>
        </ul>
        <div class="tab-content tab-space">
          {% if form_sender == '' %}
          <div class="tab-pane active" id="referees">
          {% else %}
          <div class="tab-pane" id="referees">
          {% endif %}
              <div class="card ">
                <div class="card-body">            
                  <h3>List of registered Referees</h3>
                  <div class="row" id="">
                    <table id="referee_table" class="table table-striped">
                      <thead>
                      <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Partner</th>
                      </tr>
                      </thead>
                      {% for referee in tourn.referee_set.all() %}
                      <tr>
                          <td>{{ referee.id }}</td>
                          <td>{{ referee.name }}, {{ referee.first_name }}</td>
                          <td>{{ referee.partner }}</td>
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                </div>
              </div>
          </div>
          {% if form_sender == 'court_create' %}
          <div class="tab-pane active" id="courts">
          {% else %}
          <div class="tab-pane" id="courts">
          {% endif %}
              <div class="card ">
                <div class="card-body">            
                  <h3>Add and edit courts for Tournament Events</h3>
                  <div class="row" id="court_table">
                    {% for court in tourn.court_set.all() %}
                      <div class="col-md-3">
                        <div class="card card-stats">
                          <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                              <!--i class="material-icons">pin_drop</i-->
                            </div>
                            <p class="card-category">{{ court.name }}</p>
                            <h3 class="card-title">{{ court.number }}</h3>
                          </div>
                          <div class="card-footer">
                            <div class="stats">
                              <!--button type="button" class="update-court btn btn-success btn-link" rel="tooltip" title="Edit Court" data-form-url="{{ url('basic_setup.update_court', kwargs={ 'pk_tourn':tourn.id, 'pk': court.id}) }}">
                                <i class="material-icons">edit</i>
                              </button-->
                              <button type="button" rel="tooltip" class="delete-court btn btn-danger btn-link" rel="tooltip" title="Delete Court"  data-form-url="{{ url('basic_setup.delete_court', kwargs={ 'pk_tourn':tourn.id, 'pk': court.id}) }}">
                                Delete<i class="material-icons">close</i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-md-12" id="court_form">
                <form id="create-court-form" method="post" action="">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                
                  <div class="modal-header">
                    <h3 class="modal-title">Create Court</h3>
                  </div>
                
                  <div class="modal-body">
                    {% if court_form.errors %}
                      {% for key, value in court_form.errors.items() %}
                        <div class="alert alert-danger">
                            <strong>{{ court_form.fields[key].label }} {{ value }}</strong>
                        </div>
                      {% endfor %}
                    {% endif %}
                    <div class="{% if court_form.non_field_errors %}invalid{% endif %} mb-2">
                      {% for error in court_form.non_field_errors() %}
                        {{ error }}
                      {% endfor %}
                    </div>
                    {% for name, field in court_form.fields.items() %}
                        {{ input_field(court_form[name], court_form.hide_labels) }}
                    {% endfor %}
                    <input type="hidden" placeholder="" value="court_create" name='form_sender'>
                  </div>
                
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" onclick="">Create</button>
                  </div>
                
                </form>
                
              </div>
          </div>
          {% if form_sender == 'tourn_settings' %}
          <div class="tab-pane active" id="tsettings">
          {% else %}
          <div class="tab-pane" id="tsettings">
          {% endif %}
            <div class="card card-body">
            <form id="tourn-settings-form" method="post" action="">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">


              <div class="modal-header">
                <h3 class="modal-title">Tournament Settings</h3>
              </div>

              <div class="modal-body">

                <div class="{% if tourn_settings_form.non_field_errors %}invalid{% endif %} mb-2">
                  {% for error in tourn_settings_form.non_field_errors() %}
                    {{ error }}
                  {% endfor %}
                </div>
                {% for name, field in tourn_settings_form.fields.items() %}
                    {{ input_field(tourn_settings_form[name], tourn_settings_form.hide_labels) }}
                {% endfor %}
                <input type="hidden" placeholder="" value="tourn_settings" name='form_sender'>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="modalShowSpinnerModal();">Update</button>
              </div>

            </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>



{% endblock content %}

{% block javascripts %}

<script>
  $(document).ready(function() {
    //if (localStorage.getItem("mockData") === null) {
    //    tournament_service.saveMockData();
    //  }
    //var courts = tournament_service.getCourts();
    //courts.data.forEach(function(item, index){
    //  bh.addCourtHTML(item);
    //});
    md.initFormExtendedDatetimepickers();
    var userDate = $("#id_first_game_slot" )[0].attributes.value.value
    if(moment(userDate, "MM/DD/YYYY HH:mm").format("MM/DD/YYYY HH:mm") !== userDate)
    {
    var date_string = moment(userDate, "YYYY-MM-DD HH:mm:ss").format("MM/DD/YYYY HH:mm");
    //$( "#id_starttime" ).val($( "#id_starttime" )[0].attributes.value.value);
    $( "#id_first_game_slot" ).val(date_string);
    }

    // Create tstate synchronous
    function createCourtModalForm() {
      $(".create-court").each(function () {
          $(this).modalForm({modalID: "#create-modal", formURL: $(this).data("form-url"), asyncUpdate: true});
      });
    }
    createCourtModalForm();

    function createCourtSyncModalForm() {
      $("#create-court-sync").modalForm({
          formURL: "{{ url('basic_setup.create_court', kwargs={'pk_tourn': tourn.id}) }}",
          modalID: "#create-modal"
      });
    }
    //createCourtSyncModalForm();

    function updateCourtModalForm() {
      $(".update-court").each(function () {
          $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: false});
      });
    }
    updateCourtModalForm();

    function deleteCourtModalForm() {
      $(".delete-court").each(function () {
          $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
      });
    }
    deleteCourtModalForm();

    function reinstantiateModalForms() {
      createCourtModalForm();
      deleteCourtModalForm();
      updateCourtModalForm();
    }

      
    // Hide message
    $(".alert").fadeTo(2000, 500).slideUp(500, function () {
        $(".alert").slideUp(500);
    });
  });

  function modalShowSpinnerModal(){$("#tourn-settings-form").LoadingOverlay("show");}
</script>

{% endblock javascripts %}
