{% extends "layouts/base.html" %}

{% block title %} Game Plan {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div style="display: none" id="jsonData" data-json="{{ data }}"></div>

<h2>Game Plan</h2>
<hr>
<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="card card-stats">
    <div class="card-header">
      <a class="btn btn-primary" data-toggle="collapse" href="#panel-filter" role="button" aria-expanded="false" aria-controls="collapseExample">
        Filter
        <i class="material-icons">keyboard_arrow_down</i>
      </a>
    </div>
    <div id="panel-filter" class="collapse">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header">
                <div class="col d-flex justify-content-left">
                  <h4 class="card-title">by Event:</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="col d-flex justify-content-center">
                  <select id="filter-tevent" class="selectpicker" onchange="add_filter_tevent();" data-size="7" data-style="btn btn-primary btn-round" title="Select Event">
                    <option value="-1">All</option>
                    {% for event in events.all() %}
                    <option value="{{ event.id }}">{{ event.name }} ({{ event.category}})</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header">
                <div class="col d-flex justify-content-left">
                  <h4 class="card-title">by State:</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="col d-flex justify-content-center">
                  <select id="filter-tstate" class="selectpicker" onchange="add_filter_tstate();" data-size="7" data-style="btn btn-primary btn-round" title="Select State">
                        <option value="-1">All</option>
                        {% for tstate in tstates.all() %}
                        <option value="{{ tstate.id }}">{{ tstate.name }} ({{ tstate.tournament_event.category }})</option>
                        {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header">
                <div class="col d-flex justify-content-left">
                  <h4 class="card-title">by Court:</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="col d-flex justify-content-center">
                  <select id="filter-court" class="selectpicker" onchange="add_filter_court();" data-size="7" data-style="btn btn-primary btn-round" title="Select Court">
                        <option value="-1">All</option>
                        {% for court in tourn.court_set.all() %}
                        <option value="{{ court.id }}">{{ court.name }}</option>
                        {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header">
                <div class="col d-flex justify-content-left">
                  <h4 class="card-title">by Gamestate:</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="col d-flex justify-content-center">
                  <select id="filter-gamestate" class="selectpicker" onchange="add_filter_gamestate();" data-size="7" data-style="btn btn-primary btn-round" title="Select GameState">
                        <option value="-1">All</option>
                        <option value="FINISHED">FINISHED</option>
                        <option value="RUNNING">RUNNING</option>
                        <option value="APPENDING">APPENDING</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header">
                <div class="col d-flex justify-content-left">
                  <h4 class="card-title">by keyword:</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="col d-flex justify-content-center">
                  <input type="text" placeholder="Filter by keyword" id="filter-keyword" onkeyup="add_filter_keyword();" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div calss="row">
          <div calss="col">
          <input type="text" placeholder="Search Table" id="games-filter" class="form-control" hidden>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="card card-stats">
    <div class="card-body">
      <div class="table-responsive">
            <table id="table-games" class="table">
              <thead class=" text-primary">
                <th class="text-left" data-col="date">Date</th>
                <th class="text-left" data-col="id">ID</th>
                <th class="text-left" data-col="category"></th>
                <th class="text-left" data-col="team_a">Team A</th>
                <th class="text-left" data-col="team_b">Team B</th>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
     
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>


{% endblock content %}

{% block javascripts %}

<script>
function loadJson(selector) {
  return JSON.parse(document.querySelector(selector).getAttribute('data-json'));
}
    $(document).ready(function() {
      //md.initFullCalendar();
      //md.initFullCalendar2();
      var jsonData = loadJson('#jsonData');
      //$(function() {
          $.each(jsonData, function(i, item) {
              var $tr = $('<tr>').append(
                  $('<td>').text(item.starttime),
                  $('<td>').text(item.id),
                  $('<td>').text(item.category),
                  $('<td>').text(item.team_a),
                  $('<td>').text(item.team_b)
              ); 
              $tr.appendTo('#table-games tbody');
              //console.log($tr.wrap('<p>').html());
          });
      //});

        //md.initFormExtendedDatetimepickers();
        flatpickr('.datetimepicker', {
            enableTime: true,
            dateFormat: "Y-m-d H:i:S",
            time_24hr: true,
            allowInput: true,
            locale: "de" // Remove or change if you want a different locale
        });
      $.fn.dataTable.moment( 'HH:mm (DD.MM.YYYY)' );

      var table = $('#table-games').DataTable({
        searching: false,
        paging: false,
        "order": [[1, 'asc']]
      });

      // Repair DateTime Form because datetimepicker.min.js deletes input value on load
      $(".game-list-datetime" ).each(function(i, datetime_input){
        var userDate = datetime_input.attributes.value.value;
        var date_string = moment(userDate, "YYYY-MM-DD HH:mm:ss").format("MM/DD/YYYY HH:mm");
        $(datetime_input).val(date_string);
      });

      //$('table').tableFilter({});
       $('#table-games').filterTable('#games-filter');
      //$('table').tableFilter('filterRows', 'The Beachers');
    });
    $('.game-list-datetime-label').on('dblclick', function () {
        $(this).attr('hidden', true);
        var close = $(this).parent().children('.game-list-datetime-input');
        $(close[0]).attr('hidden', false);
    });
    $(".game-list-datetime").on('keyup', function(e){ 
        var code = e.key; // recommended to use e.key, it's normalized across devices and languages
        if(code==="Enter") e.preventDefault();
        if(code===" " || code==="Enter" || code===","|| code===";"){
            var game_id = $(this).data('game_id');
            var date_string = moment($(this).val(), "MM/DD/YYYY HH:mm").format("YYYY-MM-DD HH:mm:ss");
            var data = postUpdateGameDateTime(game_id, date_string);
            $(this).closest('.game-list-datetime-input').first().attr('hidden', true);
            var close = $(this).closest('.game-list-datetime-td').first().children('.game-list-datetime-label');
            $(close[0]).attr('hidden', false);
            var table = $('#table-games').DataTable();
            var order = table.order([1,'asc']);
        } // missing closing if brace
    });

    $('.game-list-court-label').on('dblclick', function () {
        $(this).attr('hidden', true);
        var close = $(this).parent().children('.game-list-court-select');
        $(close[0]).attr('hidden', false);
    });
    $(".game-list-court-select").on('change', function(e){ 
      var game_id = $(this).data('game_id');
      var data = postUpdateGameCourt(game_id, $(e.target).val());
      $(this).closest('.game-list-court-select').first().attr('hidden', true);
      var close = $(this).closest('.game-list-court-td').first().children('.game-list-court-label');
      $(close[0]).attr('hidden', false);
      var table = $('#table-games').DataTable();
      var order = table.order([1,'asc']);

    });

    function getUpdateGameDateTime(game_id) {
        return $.ajax({
            type: 'GET',
            url: "ajax/update-game-date/" + game_id + "/",
            async: true,
            dataType: 'json',
            done: function (data) {
              if (data) {
                console.debug(JSON.stringify(data));
                return data;
              }
            }
          });
      }
      function postUpdateGameDateTime(game_id, new_datetime) {
        return $.ajax({
            type: 'POST',
            url: "ajax/update-game-date/" + game_id + "/",
            data: {'game': game_id, 'datetime': new_datetime},
            async: true,
            dataType: 'json',
            done: function (data) {
              console.debug('done');
              if (data) {
                console.debug(JSON.stringify(data));
                return data;
              }
            },
            success:function(response){
              console.debug('success: ');
              var date_label = moment(response.new_datetime, "YYYY-MM-DD HH:mm:ss").format("HH:mm (DD.MM.YYYY)");
              var date_input = moment(response.new_datetime, "YYYY-MM-DD HH:mm:ss").format("MM/DD/YYYY HH:mm");

              var game_td = $('#game-list-td-id-' + response.game)
              $(game_td).children('.game-list-datetime-label').first().text(date_label);
              $(game_td).children('.game-list-datetime-input').first().children().each(function(i, input){ $(input).val(date_input);});
              },
            complete:function(){console.debug('complete');},
            error:function (xhr, textStatus, thrownError){console.debug('error');}
          });
      }

      function postUpdateGameCourt(game_id, new_court_id) {
        return $.ajax({
            type: 'POST',
            url: "ajax/update-game-court/" + game_id + "/",
            data: {'game': game_id, 'new_court': new_court_id},
            async: true,
            dataType: 'json',
            done: function (data) {
              console.debug('done');
              if (data) {
                console.debug(JSON.stringify(data));
                return data;
              }
            },
            success:function(response){
              console.debug('success: ');

              var game_td = $('#game-list-td-court-' + response.game)
              $(game_td).children('.game-list-court-label').first().text(response.court);
              },
            complete:function(){console.debug('complete');},
            error:function (xhr, textStatus, thrownError){console.debug('error');}
          });
      }

    function add_filter(filter) {
        var filter_obj = {'col': 'Team A', 'filter': filter }
        $('#games-filter').val(JSON.stringify(filter_obj));$('#games-filter').keyup();
      }
    function add_filter_tevent() {
      var opt_val = $('#filter-tevent').children("option:selected").val();
      if(opt_val == -1)
      {
        opt_val = "";
        $("#filter-tevent > option").each(function() {
            if((this.value == -1) || (this.value == '') )return;

            opt_val = opt_val + "§" + this.value;
        });
        opt_val = opt_val.substring(1, opt_val.length);
      }
      var filter_obj = {'col': 'tournament_event', 'filter': opt_val }
      $('#games-filter').val(JSON.stringify(filter_obj));$('#games-filter').keyup();
    }
    function add_filter_tstate() {
      var opt_val = $('#filter-tstate').children("option:selected").val();
      if(opt_val == -1)
      {
        opt_val = "";
        $("#filter-tstate > option").each(function() {
            if((this.value == -1) || (this.value == '') )return;

            opt_val = opt_val + "§" + this.value;
        });
        opt_val = opt_val.substring(1, opt_val.length);
      }
      var filter_obj = {'col': 'tournament_state', 'filter': opt_val }
      $('#games-filter').val(JSON.stringify(filter_obj));$('#games-filter').keyup();
    }
    function add_filter_court() {
      var opt_val = $('#filter-court').children("option:selected").val();
      if(opt_val == -1)
      {
        opt_val = "";
        $("#filter-court > option").each(function() {
            if((this.value == -1) || (this.value == '') )return;

            opt_val = opt_val + "§" + this.value;
        });
        opt_val = opt_val.substring(1, opt_val.length);
      }
      var filter_obj = {'col': 'court', 'filter': opt_val }
      $('#games-filter').val(JSON.stringify(filter_obj));$('#games-filter').keyup();
    }
    function add_filter_gamestate() {
      var opt_val = $('#filter-gamestate').children("option:selected").val();
      if(opt_val == -1)
      {
        opt_val = "";
        $("#filter-gamestate > option").each(function() {
            if((this.value == -1) || (this.value == '') )return;

            opt_val = opt_val + "§" + this.value;
        });
        opt_val = opt_val.substring(1, opt_val.length);
      }
      var filter_obj = {'col': 'gamestate', 'filter': opt_val }
      $('#games-filter').val(JSON.stringify(filter_obj));$('#games-filter').keyup();
    }

    function add_filter_keyword() {
      var opt_val = $('#filter-keyword').val();

      var filter_obj = {'col': '__all__', 'filter': opt_val }
      $('#games-filter').val(JSON.stringify(filter_obj));$('#games-filter').keyup();
    }
  </script>

{% endblock javascripts %}