{% extends "layouts/base.html" %}

{% block title %} Game Plan {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h2>Game Plan</h2>
<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="card card-stats">
    <div class="card-body">
      <div class="small text-muted mb-2">
            Filter:
             <input type="text" placeholder="Search Table" id="games-filter" class="form-control">
            <a class="btn btn-primary" href="#" onclick="$('#games-filter').val('The Beachers');$('#games-filter').keyup();">The Beachers</a>
            <a class="btn btn-primary" href="#" onclick="add_filter('SuperStars');">SuperStars</a>
            <a class="btn btn-primary" href="#" onclick="$('#table-games').tableFilter('filterRows', 'Helen');">Helen</a>
            <a class="btn btn-primary" href="#" onclick="$('#table-games').tableFilter('filterRows', 'FooBar');">FooBar</a>
            <a class="btn btn-danger" href="#" onclick="$('#games-filter').val('');$('#games-filter').keyup();">Reset</a>
            <select id="filter-tstate" class="selectpicker" onchange="add_filter_tevent();" data-size="7" data-style="btn btn-primary btn-round" title="Select Event">
              <option value="-1">All</option>
              {% for event in events.all() %}
              <option value="{{ event.id }}">{{ event.name }} ({{ event.category}})</option>
              {% endfor %}
            </select>
        </div>
      <div class="table-responsive">
            <table id="table-games" class="table">
              <thead class=" text-primary">
                <th hidden>tournament_event</th>
                <th>Date</th>
                <th class="text-center">ID</th>
                <th class="text-center"></th>
                <th class="text-center">State</th>
                <th class="text-center">Team A</th>
                <th class="text-center">Team B</th>
                <th class="text-center">Court</th>
                <th class="text-center">1. HT</th>
                <th class="text-center">2. HT</th>
                <th class="text-center">Shootout</th>
                <th class="text-center">Gamestate</th>
              </thead>
              <tbody>
                {% for game in tourn.game_set.all() %}
                <tr>
                  <td hidden data-content="{{ game.tournament_event.id }}">{{ game.tournament_event.id }}</td>
                  <td data-content="datetime">{{ game.starttime.strftime('%H:%M (%d.%m.%Y)') }}</td>
                  <td class="text-center" data-content="{{ game.id }}">{{ game.id }}</td>
                  <td data-content="{{ game.tournament_event.category }}">{{ game.tournament_event.category }}</td>
                  <td class="text-center" data-content="{{ game.tournament_state }}">
                  <div class="btn btn-small" style="background: {{ game.tournament_state.color }}">
                    {{ game.tournament_state.abbreviation }}
                  </div>
                  
                  </td>
                  <td class="text-center" data-content="{{ game.team_st_a.team }}">{% if game.team_st_a.id == game.winner %}<button class="btn btn-outline-info"><i class="material-icons">emoji_events</i><b>{{ game.team_st_a.team }}</b></button>{% else %}{{ game.team_st_a.team }}{% endif %}</td>
                  <td class="text-center" data-content="{{ game.team_st_b.team }}">{% if game.team_st_b.id == game.winner %}<button class="btn btn-outline-info"><i class="material-icons">emoji_events</i><b>{{ game.team_st_b.team }}</b></button></b>{% else %}{{ game.team_st_b.team }}{% endif %}</td>
                  <td class="text-center" data-content="{{ game.court.name }}">{{ game.court.name }}</td>
                  <td class="text-center" data-content="result_ht1">{{ game.score_team_a_halftime_1 }}:{{ game.score_team_b_halftime_1 }}</td>
                  <td class="text-center" data-content="result_ht2">{{ game.score_team_a_halftime_2 }}:{{ game.score_team_b_halftime_2 }}</td>
                  <td class="text-center" data-content="result_p">{{ game.score_team_a_penalty }}:{{ game.score_team_b_penalty }}</td>
                  <td class="text-center" data-content="{{ game.gamestate }}">{{ game.gamestate }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
     
    </div>
    <div class="card-footer">
      <div class="stats">
        <i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready(function() {
      //md.initFullCalendar();
      //md.initFullCalendar2();

      

      //$('table').tableFilter({});
       $('#table-games').filterTable('#games-filter');
      //$('table').tableFilter('filterRows', 'The Beachers');
    });
    function add_filter(filter) {
        var filter_obj = {'col': 'Team A', 'filter': filter }
        $('#games-filter').val(JSON.stringify(filter_obj));$('#games-filter').keyup();
      }
    function add_filter_tevent() {
      var opt_val = $('#filter-tstate').children("option:selected").val();
      if(opt_val == -1)
      {
        opt_val = "";
        $("#filter-tstate > option").each(function() {
            if((this.value == -1) || (this.value == '') )return;

            opt_val = opt_val + "§" + this.value;
        });
        opt_val = opt_val.substring(1, opt_val.length);
      }
      var filter_obj = {'col': 'tournament_event', 'filter': opt_val }
      $('#games-filter').val(JSON.stringify(filter_obj));$('#games-filter').keyup();
      }
  </script>

{% endblock javascripts %}