{% extends "layouts/base.html" %}

{% block title %} Game Plan {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h2>Game Plan</h2>
<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="card card-stats">
    <div class="card-body">
      <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>Date</th>
                <th class="text-center">ID</th>
                <th class="text-center">State</th>
                <th class="text-center">Team A</th>
                <th class="text-center">Team B</th>
                <th class="text-center">Court</th>
                <th class="text-center">1. HT</th>
                <th class="text-center">2. HT</th>
                <th class="text-center">Shootout</th>
              </thead>
              <tbody>
                {% for game in tourn.game_set.all %}
                <tr>
                  <td>{{ game.starttime|date:"H:i (d.m.Y)" }}</td>
                  <td class="text-center">{{ game.id }}</td>
                  <td class="text-center">{{ game.tournament_state }}</td>
                  <td class="text-center">{{ game.team_st_a.team }}</td>
                  <td class="text-center">{{ game.team_st_b.team }}</td>
                  <td class="text-center">{{ game.court.name }}</td>
                  <td class="text-center">{{ game.score_team_a_halftime_1 }}:{{ game.score_team_b_halftime_1 }}</td>
                  <td class="text-center">{{ game.score_team_a_halftime_2 }}:{{ game.score_team_b_halftime_2 }}</td>
                  <td class="text-center">{{ game.score_team_a_penalty }}:{{ game.score_team_b_penalty }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
     
    </div>
    <div class="card-footer">
      <div class="stats">
        <i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready(function() {
      //md.initFullCalendar();
      //md.initFullCalendar2();
    });
  </script>

{% endblock javascripts %}