<div id="templateCourt" class="col-md-3" obj_id="-1" hidden>
    <div class="card card-stats col-md-12">
        <div class="card-header card-header-warning card-header-icon">
            <div class="row">
            <div class="card-icon col-md-2">
                <i class="material-icons">view_array</i>
            </div>
            <div class="col-md-1 col-sm-1 col-md-offset-8 col-sm-offset-8">
                <button class="btn btn-primary btn-sm">
                    <i class="material-icons">edit</i>
                </button>
            </div>
            <div class="col-md-1 col-sm-1">
                <button class="btn btn-primary btn-sm">
                    <i class="material-icons">delete_forever</i>
                </button>
            </div>
        </div>
            <div class="row">
            <input type="checkbox" class="" />
            <h4 id="templateCourt_cat" class="card-category"></h4>
            <h3 id="templateCourt_name" class="card-title" data-name="name"></h3>
        </div>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons text-danger">groups</i>
                <a href="#"></a>
            </div>
        </div>
    </div>
</div>