<div id="templateCourt" class="col-md-3 topnode" obj_id="-1" hidden>
    <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
            <i class="material-icons">view_array</i>
            </div>
            <p id="templateCourt_cat" class="card-category">Bookings</p>
            <h3 id="templateCourt_name" class="card-title">184</h3>
            <div id="templateCourt_btnUpdate" class="btn btn-success" ><i class="material-icons">edit</i></div>
            <div id="templateCourt_btnRemove" class="btn btn-danger" ><i class="material-icons">delete</i></div>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <a href="#pablo">Get More Space...</a>
            </div>
        </div>
    </div>
</div>