<div id="templateCourt" class="col-md-3 topnode" obj_id="-1" hidden>
    <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
            <i class="material-icons">view_array</i>
            </div>
            <p id="templateCourt_cat" class="card-category"></p>
            <h3 id="templateCourt_name" class="card-title"></h3>
            
        </div>
        <div class="card-footer">
            <div class="stats">
                <div id="templateCourt_btnUpdate" class="btn btn-success btn-link" ><i class="material-icons" style="font-size: 18px">edit</i></div>
            <div id="templateCourt_btnRemove" class="btn btn-danger btn-link" ><i class="material-icons">delete</i></div>
            </div>
        </div>
    </div>
</div>