{% macro input_field(bound_field, hide_labels, extra_label_classes="", extra_control_classes="") -%}
<div class="row">
<div class="col-md-12">
  <div class="row align-items-center">
    <div class="col-sm-3">
    <b>{{ bound_field.field.label }}</b>
    </div>
    <div class="col-sm-7">
    <div class="form-group">
        {{ bound_field }}

        {% if bound_field.help_text %}
        <small class="form-text text-muted">{{ bound_field.field.help_text }}</small>
        {% endif %}      
    </div>
    </div>
  </div>
  <hr>
</div>
</div>
{%- endmacro %}

<form id="create-form" method="post" action="">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">

  <div class="modal-header">
    <h3 class="modal-title">Create</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors() %}
        {{ error }}
      {% endfor %}
    </div>
    {% for name, field in form.fields.items() %}
        {{ input_field(form[name], form.hide_labels) }}
    {% endfor %}
  
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" onclick="modalShowSpinnerModal();">Create</button>
  </div>

</form>

<script>
$(document).ready(function() {
    $("#main-content").LoadingOverlay("hide");

    // initialise Datetimepicker and Sliders
    md.initFormExtendedDatetimepickers();
    if ( $( "#id_starttime" ).length )
    {
    // Repair DateTime Form because datetimepicker.min.js deletes input value on load
    var userDate = $("#id_starttime" )[0].attributes.value.value
    var date_string = moment(userDate, "YYYY-MM-DD HH:mm:ss").format("MM/DD/YYYY HH:mm");
    //$( "#id_starttime" ).val($( "#id_starttime" )[0].attributes.value.value);
    $( "#id_starttime" ).val(date_string);
    }

  });
  function modalShowSpinnerModal(){$("#create-form").LoadingOverlay("show");}
</script>