{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Update</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    {% for field in form.visible_fields %}
        <div class="row">
            <div class="col-sm-3">
            {{ field.label_tag }}
            </div>
            <div class="col-sm-7">
            <div class="form-group">
                {% if form.is_bound %}
                  {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                      <div class="invalid-feedback">
                          {{ error }}
                      </div>
                      {% endfor %}
                  {% else %}
                      {% render_field field class="form-control is-valid" %}
                  {% endif %}
                {% else %}
                  {% if field|widget_type == "select" %}
                      {% render_field field class="selectpicker" data-style="btn btn-default btn-sm" %}
                  {% else %}
                      {% render_field field class="form-control" %}
                  {% endif %}
                
                {% endif %}

                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                
            </div>
            </div>
        </div>
        
        {% endfor %}
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>

</form>